/*
 *	___  _ ____ _  _ ____ _   _ _  _ _  _ ____    ____ ____ ____ 
 *	|  \ | [__  |\ | |___  \_/  |\/| |\/| |  |    |___ |  | [__  
 *	|__/ | ___] | \| |___   |   |  | |  | |__|    |___ |__| ___] 
 *    
 *	Styles for forum elements.
 *	
 *	Xiris
 */

    @import "resources/assets";
 
    /* --------------------------------------------------
     * Defines a list of posts...
     * -------------------------------------------------- */
    .posts-list.compact .signature { display: none; }
    .posts-list.detailed .signature { display: block; }
    
    .post-blocks { }

    /* --------------------------------------------------
     * Defines an individual post...
     * -------------------------------------------------- */
    .post-block { width: 100%; position: relative; margin-top: 10px; margin-bottom: 20px; }

        .post-profile { min-height: 150px; width: 240px; float: left; }
        .post-profile .avatar { position: absolute; top: 20px; left: 0; }
        .post-profile .user-info { top: 22px; left: 97px; position: absolute; }
        
            /* username */
            .user-info .username > a { display: block; font-size: 14px; color: $font-color-contrast; }
            .user-info .username > a:hover { color: $font-color-contrast-hover !important; }
            
            /* user menu */
            .user-info .user-menu { visibility: hidden; position: absolute; top: 15px; left: -4px; }
            .user-info .username:hover .user-menu, .user-info .user-menu:hover { visibility: visible; }
            
            /* miscellaneous */
            .user-info .status { margin-top: 3px; font-size: 11px; color: #5d5d5d; }
            .user-info .post-count { height: 16px; background: url($path-icons + 'post-stats-posts.png') no-repeat 0 50%; margin-top: 12px; padding-left: 23px; color: #949496; line-height: 16px; font-size: 11px; }
            .user-info .credits-count { height: 16px; background: url($path-icons + 'post-stats-credits.png') no-repeat 0 50%; margin-top: 3px; padding-left: 23px; color: #949496; line-height: 16px; font-size: 11px; }
            .user-info .post-count:hover, .user-info .credits-count:hover { color: $font-color-primary-hover; cursor: help; }

        .post-content { min-height: 130px; background-color: #FAFAFA; margin-left: 240px; padding: 16px 180px 100px 20px; padding-right: 180px; position: relative; font-size: 13px; @include rounded-border(1px, 4px, #E0E0E0); @include box-shadow(0px 0px 10px 0px #E6E6E6); }
        .post-message { z-index: $z-index-forum-post-content; line-height: 200%; }
        
            /* ul bbcode */
            .post-message ul { list-style-type: disc; padding: 0 0 0 40px; }
            .post-message ol { list-style-type: decimal; padding: 0 0 0 40px; }
        
            /* quote bbcode */
            blockquote { border-left: 1px solid #b7b7b7; padding: 10px 14px 10px 10px; margin-left: 12px; color: #9b9a9a; }
            blockquote:hover { border-left-color: $font-color-contrast; }
            blockquote cite { display: block; }
        
            /* align bbcode - only applicable to privileged posts */
            .post-block.privileged .post-message .bbcode-left { text-align: left; }
            .post-block.privileged .post-message .bbcode-center { text-align: center; }
            .post-block.privileged .post-message .bbcode-right { text-align: right; }
            .post-message .bbcode-left,
            .post-message .bbcode-center,
            .post-message .bbcode-right { text-align: left; }
                    
        /* --------------------------------------------------
         * Post Stamp
         * -------------------------------------------------- */
        .post-stamp { width: 140px; color: #b2b2b2; text-align: right; padding: 20px 20px 0 0; position: absolute; top: 0; right: 0; text-transform: uppercase; }
        .post-stamp .post-interior-padding { padding: 24px 20px 24px 0; position: relative; z-index: $z-index-forum-post-content; }
        
            /* post count */
            .post-stamp a.post-count { font-size: 11px; }
            
            /* post date */
            .post-stamp .post-date { padding-top: 5px; font-size: 10px; }
            .post-stamp .post-date:hover { cursor: help; }
            
            /* staff label */
            .post-stamp .post-staff-label { padding-top: 5px; font-size: 10px; }
            .post-stamp .post-staff-label:hover { cursor: help; }
    
        /* --------------------------------------------------
         * Staff Posts
         * -------------------------------------------------- */
        .post-block.staff:before { content: ''; height: 187px; width: 280px; background: url($path-layout + 'forum-post-staff-logo.png') no-repeat 0 0; position: absolute; }
        .post-block.staff .post-stamp { color: #a3a3a3; }

        /* --------------------------------------------------
         * Deleted Posts
         * -------------------------------------------------- */
        .post-block.deleted .post-content { border-color: #C0C0C0; @include opacity(0.5); }
        .post-block.deleted:hover .post-content { border-color: #E0E0E0; @include opacity(1); }
        .post-block.deleted .username a { color: #7A7A7A !important; }
        .post-stamp .why-deleted { padding-top: 10px; }
        .post-stamp .why-deleted:hover { cursor: help; }
        .post-block.deleted .post-stamp { width: 300px; font-size: 10px; }

        /* --------------------------------------------------
         * Reply Styling
         * -------------------------------------------------- */
        .post-block.reply .post-profile .avatar { top: 68px; }
        .post-block.reply .post-profile .user-info { top: 70px; }
        .post-editor { min-height: 130px; margin-left: 240px; }
    
        .quick-reply-options { margin: 8px 0 0 240px; overflow: hidden; }
        .quick-reply-options button { float: left; margin-right: 8px; }

        .login-to-post { width: 100%; padding-top: 70px; text-align: center; color: #B9B9B9; }
        .login-to-post .action-reward { margin-bottom: 10px; font-size: 29px; font-family: $font-family-component; }
        .login-to-post .call-to-action { font-size: 29px; font-family: $font-family-component; text-transform: uppercase; }
        .login-to-post .call-to-action a { margin: 7px; position: relative; top: 3px; font-weight: bold; text-transform: uppercase; font-size: 36px; }

        /* --------------------------------------------------
         * Post Controls
         * -------------------------------------------------- */
        .post-controls { position: absolute; bottom: 20px; right: 20px; z-index: $z-index-forum-post-content; overflow: hidden; }
        .post-controls .login-to-reply { padding: 13px 0 9px 0; float: right; line-height: 18px; color: #9b9a9a; font-size: 11px; text-transform: uppercase; visibility: hidden; }
        
        /* events */
        .post-block:hover .post-control { top: 8px; }
        .post-block:hover .login-to-reply { visibility: visible; }
        
        /* post controls - buttons, expanders */
        .post-control { height: 38px; background: url($path-icons + 'forum-post-controls-icons.png') no-repeat; float: right; display: block; position: relative; top: 52px; padding: 0 6px 0 40px; margin-left: 8px; font-size: 14px; line-height: 35px; @include transition(top, .25s, ease); @include transition-property(top, color); }
        
        .post-control-button, .post-control-button a { color: $font-color-primary; }
        .post-control-button:hover, .post-control-button:hover a { color: $font-color-contrast; }
        
        .post-control-expander:hover .post-control-expansion { max-width: 1000px; }
        .post-control-expander:hover .post-control-expander-label { color: lighten($font-color-primary, 35%); }
        .post-control-expansion a { color: $font-color-primary; }
        .post-control-expansion a:hover { color: $font-color-contrast; }
        .post-control-expansion { display: none; }
        .post-control-expansion a:first-child:before { content: '\2022 '; padding: 0 4px; }
        .post-control-expansion a:after { content: '\2022'; padding: 0 4px; }
        .post-control-expansion a:last-child:after { content: ''; padding: 0; }
        .post-control-expansion { max-width: 0px; display: block; @include transition(all, .5s, ease); overflow: hidden; }
        .post-control-expander-label { max-width: 1000px; display: block; float: left; @include transition(all, .5s, ease); overflow: hidden; }
        
        .post-control-button.edit { background-position: 5px -3px; @include transition-delay(0s); }
        .post-control-button.edit:hover { background-position: 5px -43px; }
        .post-control-button.quote { background-position: 3px -83px; @include transition-delay(.03s); }
        .post-control-button.quote:hover { background-position: 3px -123px; }
        .post-control-button.report { background-position: 4px -163px; @include transition-delay(.06s); }
        .post-control-button.report:hover { background-position: 4px -203px; }
        .post-control-expander.mod { background-position: 5px -242px; @include transition-delay(.09s); }
        .post-control-expander.mod:hover { background-position: 5px -282px; }
        .post-control-button.post { background-position: 4px -323px; @include transition-delay(0s); }
        .post-control-button.post:hover { background-position: 4px -363px; }
        .post-control-button.advanced { background-position: 4px -403px; @include transition-delay(.03s); }
        .post-control-button.advanced:hover { background-position: 4px -443px; }
    
    /* --------------------------------------------------
     * Post Signature
     * -------------------------------------------------- */
    .signature { max-height: 250px; width: 100%; padding-top: 6px; margin-top: 18px; border-top: 1px solid #c8c8c8; overflow: hidden; }

    /* --------------------------------------------------
     * PHPBB Components
     * -------------------------------------------------- */
    .phpbb-quickmod-container { margin-left: 240px; }