/*
 *	___  _ ____ _  _ ____ _   _ _  _ _  _ ____    ____ ____ ____ 
 *	|  \ | [__  |\ | |___  \_/  |\/| |\/| |  |    |___ |  | [__  
 *	|__/ | ___] | \| |___   |   |  | |  | |__|    |___ |__| ___] 
 *    
 *	Styles for forum elements.
 *	
 *	Zach Knickerbocker
 *
 * todo:
 *          - remove id styling
 *          - rename 'forum selector' to 'category selector'
 */
 
    @import "resources/assets";
 
    /* --------------------------------------------------
     * Forum Selector (i.e. Category Selector)
     * -------------------------------------------------- */
    .forum-blocks { width: 100%; overflow: hidden; }
    .forum-blocks li:active { @include opacity(.7); }
    
    /* Thumbnail */
    .forum-blocks li { float: left; margin-bottom: 20px; position: relative; overflow: hidden; }
	.forum-blocks li .forum-container { width: 100%; display: block; text-decoration: none; }
    .forum-blocks li .roller-container { height: 78px; width: 100%; overflow: hidden; }
    .forum-blocks li .roller { height: 78px; width: 100%; @include opacity(.99); overflow: hidden; @include perspective(400px); @include perspective-origin(50% 50%); }
    .forum-blocks li .roller span { height: 100%; width: 100%; background-image: url($path-layout + 'forum-games-preroll.png'); background-repeat: no-repeat; display: block; position: relative; @include transition(all, .3s, ease); @include transform-origin(50% 0%); @include transform-style(preserve-3d); border: 2px solid #3C3C3C; }
    .forum-blocks li .roller span:after { content: ''; height: 100%; width: 100%; background-image: url($path-layout + 'forum-games-postroll.jpg'); background-repeat: no-repeat; display: block; @include transform-origin(50% 0%); @include transform(translate3d( 0px, 100%, 0px ) rotateX( -90deg )); border: 2px solid #3C3C3C; @include box-sizing(border-box); }
    .forum-blocks li:hover .roller span { @include transform(translateZ( -80px ) rotateX( 90deg )); }
    .forum-blocks li.forum-extra:hover span { @include transform(none); }

		$sprite-preroll-offset: -80px;
        $sprite-preroll-offset-y: -5px;
        $sprite-postroll-offset: -120px;
    
		.forum-cp .roller span	        { background-position: 50% ($sprite-preroll-offset * 0 + $sprite-preroll-offset-y); background-color: $color-cp; }
        .forum-ph .roller span	        { background-position: 50% ($sprite-preroll-offset * 1 + $sprite-preroll-offset-y); background-color: $color-ph; }
        .forum-po .roller span	        { background-position: 50% ($sprite-preroll-offset * 2 + $sprite-preroll-offset-y); background-color: $color-po; }
        .forum-tt .roller span	        { background-position: 50% ($sprite-preroll-offset * 3 + $sprite-preroll-offset-y); background-color: $color-tt; }
		.forum-og .roller span	        { background-position: 50% ($sprite-preroll-offset * 4 + $sprite-preroll-offset-y); background-color: $color-og; }
		.forum-dis .roller span	        { background-position: 50% ($sprite-preroll-offset * 5 + $sprite-preroll-offset-y); background-color: $color-dis; }
		.forum-crt .roller span   	    { background-position: 50% ($sprite-preroll-offset * 6 + $sprite-preroll-offset-y); background-color: $color-crt; }
		.forum-ot .roller span	        { background-position: 50% ($sprite-preroll-offset * 7 + $sprite-preroll-offset-y); background-color: #592c9d; }
		.forum-dmmo .roller span	    { background-position: 50% ($sprite-preroll-offset * 8 + $sprite-preroll-offset-y); background-color: $color-dmmo; }
		.forum-staff .roller span	    { background-position: 50% ($sprite-preroll-offset * 9 + $sprite-preroll-offset-y); background-color: #394815; }
		.forum-extra .roller span	    { background-image: none; background-color: #EAEAEA; }
        
		.forum-cp .roller span:after    { background-position: 0 ($sprite-postroll-offset * 0); }
		.forum-ph .roller span:after	{ background-position: 0 ($sprite-postroll-offset * 1); }
		.forum-po .roller span:after   	{ background-position: 0 ($sprite-postroll-offset * 2); }
		.forum-tt .roller span:after	{ background-position: 0 ($sprite-postroll-offset * 3); }
		.forum-og .roller span:after	{ background-position: 0 ($sprite-postroll-offset * 4); }
		.forum-dis .roller span:after   { background-position: 0 ($sprite-postroll-offset * 5); }
		.forum-crt .roller span:after   { background-position: 0 ($sprite-postroll-offset * 6); }
		.forum-ot .roller span:after	{ background-position: 0 ($sprite-postroll-offset * 7); }
		.forum-dmmo .roller span:after  { background-position: 0 ($sprite-postroll-offset * 8); }
		.forum-staff .roller span:after { background-position: 0 ($sprite-postroll-offset * 9); }
		
    /* Thumbnail Fixes */
    html.no-csstransforms3d .forum-blocks li .roller span:after { display: none; }
    html.no-csstransforms3d .forum-blocks li:hover .roller span { @include opacity(.8); }
        
    /* Category Description */
	.forum-blocks .description { margin-top: 6px; padding: 0 3px 0 3px; color: #AAA; line-height: 22px; }
    .forum-blocks strong { font-weight: bold; }
    
        .forum-cp strong { color: $color-cp; }
        .forum-ph strong { color: $color-ph; }
        .forum-po strong { color: $color-po; }
        .forum-tt strong { color: $color-tt; }
        .forum-og strong { color: $color-og; }
        .forum-dis strong { color: $color-dis; }
        .forum-crt strong { color: $color-crt; }
        .forum-ot strong { color: #592c9d; }
        .forum-dmmo strong { color: $color-dmmo; }
        .forum-staff strong { color: #394815; }
        .forum-extra strong { color: #EEE; }

    /* Responsive Magic */
    @media all and (min-width: 1760px) {

        .forum-blocks li { width: 15.83%; margin-right: 1%; }
        .forum-blocks li:nth-child(6n) { margin-right: 0; }
    }

    @media all and (min-width: 1402px) and (max-width: 1759px) {

        .forum-blocks li { width: 19.04%; margin-right: 1.2%; }
        .forum-blocks li:nth-child(5n) { margin-right: 0; }
    }

    @media all and (max-width: 1401px) {

        .forum-blocks li { width: 23.95%; margin-right: 1.3%; }
        .forum-blocks li:nth-child(4n) { margin-right: 0; }
    }
    
    /* --------------------------------------------------
     * Forum Information
     * -------------------------------------------------- */ 
    #community-information { margin-top: 38px; }
    
	.community-stats-block { width: 278px; float: left; }
    .community-stats { background-color: #1596cc; padding: 22px; color: #FFF; }
    .community-stats dl { margin-top: 8px; font-family: $font-family-fancy; }
    .community-stats dl:first-child { margin-top: 0; }
    .community-stats dt { float: left; color: #9CDCF6; line-height: 13px; }
    .community-stats dd { float: right; color: #E4F7FF; font-size: 13px; }
    .community-stats a { color: #E4F7FF; }
    .community-stats a:hover { color: $font-color-contrast-hover; }
    
    .community-online-users-block { width: 792px; margin-left: 20px; float: left; }
    .community-online-users-count {  padding-left: 8px; font-size: 13px; }
    .community-online-users { } /* note: this uses .avatar-small, if ever changed, then adjust the 34px and 40px values below */
    .community-online-users li { height: 34px; width: 34px; position: relative; float: left; margin: 0 0 4px 4px; }
    .community-online-users .avatar { @include transition(all, .25s, ease); }
    .community-online-users li:hover .avatar { height: 44px; width: 44px; position: absolute; top: -5px; left: -5px; @include box-shadow(0 0 5px #000); z-index: $z-index-global-on-top; }
    .community-online-users li:hover .avatar img { height: 44px; min-width: 44px; }
    