/*
 *	___  _ ____ _  _ ____ _   _ _  _ _  _ ____    ____ ____ ____ 
 *	|  \ | [__  |\ | |___  \_/  |\/| |\/| |  |    |___ |  | [__  
 *	|__/ | ___] | \| |___   |   |  | |  | |__|    |___ |__| ___] 
 *    
 *	Styles for the forums discussions list.
 *	
 *	Xiris
 */
 
    @import "resources/assets";
 
    // Discussions List
    // --------------------------------------------------------------------------------
	.discussions-list table { width: 100%; border-collapse: separate; border-spacing: 0; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; }
	
        /* Normal row */
		.discussions-list-row { background-color: #F0F0F0; }
		.discussions-list-row:last-child td { border-bottom: 0; }
		.discussions-list-row td { height: 46px; padding-top: 0; padding-bottom: 0; border-bottom: 1px solid #E0E0E0; border-top: 2px solid $bg-global-color; vertical-align: middle; }
	
        /* Guide (top) row */
        .discussions-list-row.discussions-list-guide { background-color: #2B2B2B; color: #9E9E9E; }
        .discussions-list-row.discussions-list-guide td { height: 28px; }
        .discussions-list-guide td span { padding-left: 5px; font-size: 10px; text-transform: uppercase; }
        .discussions-list-guide .discussion-last span { padding-left: 10px; }
    
    /* Avatar (takes the place of icon) */
    .discussion-avatar { width: 40px; }
    .discussion-avatar .avatar { height: 46px; width: 34px; }
    .discussion-avatar .avatar img { height: 34px; width: auto; margin-top: 5px; }


	/* Icon */
	.discussion-icon { width: 52px; }
	.discussion-icon div { height: 46px; width: 46px; background-position: 12px 50%; background-repeat: no-repeat; border-left-width: 5px; border-left-style: solid; }
    
        .discussion-icon .discussion-filter-general { border-color: #75AE2C; }
        .discussion-icon .discussion-filter-news { border-color: #7F0000; }
        .discussion-icon .discussion-filter-games-and-puzzles { border-color: #1379C0; }
        .discussion-icon .discussion-filter-role-playing-games { border-color: #700505; }
        .discussion-icon .discussion-filter-entertainment { border-color: #7610A0; }
        .discussion-icon .discussion-filter-items { border-color: #CA7C00; }
        .discussion-icon .discussion-filter-guides { border-color: #AE0CB8; }
        .discussion-icon .discussion-filter-mini-games { border-color: #143DC3; }
        .discussion-icon .discussion-filter-media { border-color: #511093; }
        .discussion-icon .discussion-filter-test-realm { border-color: #70230E; }
        .discussion-icon .discussion-filter-writers-at-heart { border-color: #B1004B; }
        .discussion-icon .discussion-filter-walt-disney-world { border-color: #C8541B; }
        .discussion-icon .discussion-filter-disneyland-and-california-adventure { border-color: #6B108D; }
        .discussion-icon .discussion-filter-television-and-film { border-color: #0E5A9A; }
        .discussion-icon .discussion-filter-virtual-magic-kingdom { border-color: #8BB706; }
        .discussion-icon .discussion-filter-world-of-cars { border-color: #C41C0B; }
        .discussion-icon .discussion-filter-avatars { border-color: #0FA5B3; }
        .discussion-icon .discussion-filter-signatures { border-color: #993804; }
        .discussion-icon .discussion-filter-polls { border-color: #7613C3; }
        .discussion-icon .discussion-filter-contests { border-color: #DBAA00; }
        .discussion-icon .discussion-filter-support { border-color: #095376; }

    .pm-unread-icon { background-image: url($path-filters + 'pm-unread.png'); border-color: #C2840C; }
    .pm-read-icon { background-image: url($path-filters + 'pm-read.png'); border-color: #396A0E; }
	
	/* Subject */
	.discussion-subject { font-size: 13px; }
	.discussion-subject .topic-title { height: 46px; max-width: 380px;  margin-left: 6px; display: block; float: left; overflow: hidden; color: $font-color-primary; line-height: 46px; }
    .discussion-subject .topic-title:hover { color: $font-color-primary-hover; }
    .discussion-subject .message-info { padding-left: 10px; color: #BBB; line-height: 46px; }
    .discussion-subject .message-info a { color: #BBB; }
    .discussion-subject .message-info a:hover { color: $font-color-primary-hover; }
	
    .discussion-subject .topic-latest-reply { background-color: $ui-forum-discussions-list-button; padding: 4px; margin: 13px 9px 0 13px; float: left; font-size: 9px; color: #FFF; visibility: hidden; text-transform: uppercase; @include rounded-border(1px, 4px, $ui-forum-discussions-list-button); @include transition-property(background-color, border-color); }
    .discussion-subject .topic-latest-reply:hover { background-color: $ui-forum-discussions-list-button-hover; border-color: $ui-forum-discussions-list-button-hover; }
    .discussion-subject:hover .topic-latest-reply { visibility: visible; }
    
    .discussion-subject .per-pagination { visibility: hidden; float: left; margin-left: 2px; }
    .discussion-subject:hover .per-pagination { visibility: visible; }
    
    .sticky .discussion-subject .topic-title:before { content: '[Sticky] '; color: $font-color-contrast; }
    .global .discussion-subject .topic-title:before { content: '[Global] '; color: $font-color-contrast; }
    
    /* Pagination */
    .per-pagination { height: 46px; background: url($path-icons + 'per-topic-pagination.png') no-repeat 0 50%; display: block; padding-left: 16px; font-size: 13px; }
    .per-pagination span { cursor: default; line-height: 48px; }
    .per-pagination a { height: 100%; display: inline-block; padding: 4px 2px 4px 6px; line-height: 18px; @include transition(top, .15s, ease); }
    .per-pagination a:hover { position: relative; top: 2px; font-size: 22px; }
    
	/* Topic Type */
	.discussion-type, .discussion-topic { width: 125px; text-align: right; }
	.discussion-topic a { height: 24px; display: inline; padding: 6px; margin-right: 14px; position: relative; left: -6px; line-height: 20px; }
	
	/* Stats */
	.discussion-stats { width: 100px; padding: 0 20px 0 20px; font-family: $font-family-secondary; @include transition(background-color, .06s, ease); }
    .discussion-stats dl { font-size: 11px; line-height: 16px; text-align: center; color: #9C9B9B; }
    .discussion-stats dl.stat-views { float: right; }
    .discussion-stats dl.stat-replies { float: left; }
    .discussion-stats dt { font-size: 9px; text-transform: uppercase; }
    .discussions-list-row:hover dt { color: #898989; }
    .discussion-stats dd { font-size: 11px; }
    
	/* Last Reply */
	.discussion-last { width: 180px; }
    .discussion-last .discussion-last-user { padding-top: 2px; font-size: 11px; color: #7b7b7b; }
    .discussion-last .discussion-last-user a:hover { color: $font-color-contrast-hover !important; }
    .discussion-last .discussion-last-time { padding-top: 4px; font-size: 10px; color: #9c9b9b; }
	.discussion-last-avatar { height: 28px; width: 28px; display: block; float: left; margin: 0 7px 0 10px; border: 1px solid #F1F1F1; overflow: hidden; }
    .discussion-last-avatar img { height: 28px; min-width: 28px; }
    .discussion-last-avatar:hover { border-color: $font-color-primary-hover; }
    
    /* Discussion Fancy Time */
    .discussion-fancy-time { width: 180px; text-align: right; }

    /* Mark */
    .discussion-mark { width: 50px; text-align: center; }
    .discussion-mark label { padding: 10px; }