/*
 *	___  _ ____ _  _ ____ _   _ _  _ _  _ ____    ____ ____ ____ 
 *	|  \ | [__  |\ | |___  \_/  |\/| |\/| |  |    |___ |  | [__  
 *	|__/ | ___] | \| |___   |   |  | |  | |__|    |___ |__| ___] 
 *    
 *	Styles for epic user profiles.
 *	
 *	Xiris
 */
 
	@import "resources/assets";

    // Global Styles
    // --------------------------------------------------------------------------------
    .eos-profile-container { position: relative; margin-top: -12px; z-index: $z-index-page-contents; }
    .profile-content-container { position: relative; padding: 0 2%; }

    // Profile Header
    // --------------------------------------------------------------------------------
    .profile-header { height: 340px; width: 100%; background-position: 50% 50%; @include background-size(cover); position: relative; border-bottom: 1px solid #FFF; @include box-shadow(inset 0px -15px 62px -16px #000); z-index: 1000; }
    .profile-header .grunge { height: 200px; width: 500px; background: url($path-layout + "profile-banner-grunge.png") repeat-x 50% 0; position: absolute; bottom: 0; left: 0; z-index: $z-index-profile-banner-grunge; }

    .profile-header .profile-user-info { position: absolute; left: 2%; bottom: 24px; font-size: 0; z-index: $z-index-profile-banner-ui; }
    .profile-user-info:before { content: ''; display: inline-block; vertical-align: middle; margin-right: -0.25em; }
    .profile-user-info .avatar img { @include rounded-border(0px, 4px, transparent); }
    .profile-user-info .username { line-height: 50px; margin-left: 17px; }
    .profile-user-info .username h2 { padding-bottom: 0; font-size: 42px; color: #FFF; text-shadow: 0 0 36px #000; font-weight: bold; }
    .profile-user-info .bottomed { display: inline-block; vertical-align: bottom; }

    .profile-header-buttons { position: absolute; right: 2%; bottom: 28px; z-index: $z-index-profile-banner-ui; }
    .profile-header-button { display: inline-block; margin-left: 12px; }

    // Profile Banner Drop Zone
    // --------------------------------------------------------------------------------
    .profile-banner-customizer { height: 340px; width: 100%; position: absolute; top: 0; left: 0; z-index: $z-index-profile-banner-customizer; }

    .profile-banner-customizer:hover .upload-zone,
    .upload-zone.uploading { @include opacity(.75); }
    .upload-zone { height: 100%; width: 100%; background: #000; position: relative; @include opacity(0); @include transition(opacity, .25s, ease); overflow: hidden; }
    
    .upload-zone.uploading .upload-button { @include opacity(0); }
    .upload-zone .upload-button { width: 100%; margin: -61px 0 0 0; position: absolute; top: 50%; text-align: center; @include transition(all, .25s, ease); filter: inherit; }
    .upload-zone .upload-button div { display: inline-block; margin: 0 auto; padding: 40px 50px; @include rounded-border(10px, 8px, #FFF); border-style: dotted; font-size: 22px; font-weight: bold; color: #FFF; }
    .upload-zone:hover { cursor: pointer; }
    
    .upload-zone.uploading .progress-bar { @include opacity(1); }
    .upload-zone .progress-bar.dropzone-progress { display: block; }
    .upload-zone .progress-bar { width: 100%; margin: -15px 0 0 0; display: none; position: absolute; top: 50%; text-align: center; @include opacity(0); @include transition(all, .25s, ease); }
    .upload-zone .progress-bar .progress { font-size: 30px; font-weight: bold; color: #FFF; }
    .upload-zone .progress-bar.finished { @include scale(5, 5); }
    .upload-zone .hidden-file-input { display: none; }
    
    .dz-error-message { display: none; }
    .dz-preview { display: none; }
    .dz-message { display: none; }
    
    .profile-banner-customizer.customizer-fallback {  }
    .customizer-fallback .upload-zone .progress-bar.dropzone-progress { display: none; }
    .customizer-fallback .upload-zone .progress-bar.fallback-progress { display: block; }
    .customizer-fallback .upload-zone .hidden-file-input { position: absolute; display: block; top: -50%; right: 0; display: block; font-size: 2000px; direction: ltr; @include opacity(0); }
    .customizer-fallback .upload-zone .hidden-file-input:hover { cursor: pointer; }
    
    // Profile Content
    // --------------------------------------------------------------------------------
    .profile-content { @include box-shadow(inset 0px 13px 17px -17px #000); }
    .profile-content .profile-content-inner { width: 100%; padding-top: 30px; position: relative; }
    .profile-content .sidebar-content { width: 300px; float: left; }
    .profile-content .main-content { width: 100%; position: absolute; top: 30px; left: 0; padding-left: 340px; }

    .sidebar-content { }
    .sidebar-content section { margin-bottom: 50px; padding-bottom: 11px; border-bottom: 1px solid #FFF; @include box-shadow(0px 13px 25px -25px #444); }
    html.no-boxshadow .sidebar-content section { border-bottom-width: 0; }
    .sidebar-content section h3 { margin-bottom: 17px; text-transform: uppercase; }

    .profile-list { }
    .profile-list span { height: 32px; display: block; margin-bottom: 5px; font-size: 13px; line-height: 32px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    .profile-list span:before { margin-right: 8px; float: left; font-size: 22px; line-height: 32px; }

    .profile-attributes { }
    .profile-attribute span:before { color: $theme-secondary; }

    .profile-contact-info { }
    .profile-contact-info li.contact-info-email span:before { color: #A8860F; }
    .profile-contact-info li.contact-info-website span:before { color: #6E0B7A; }
    .profile-contact-info li.contact-info-pm span:before { color: #7D0909; }
    .profile-contact-info li.contact-info-messenger span:before { color: #6AB006; }
    .profile-contact-info li.contact-info-twitter span:before { color: #4EB2C2; }
    .profile-contact-info li.contact-info-facebook span:before { color: #123B81; }

    .profile-stat { height: 30px; margin-bottom: 5px; line-height: 30px; font-size: 16px; color: #AFAFAF; }
    .profile-stat span { float: left; margin-right: 6px; font-size: 30px; font-family: $font-family-heading; color: $theme-secondary; line-height: 30px; }

    // Profile Wall
    // --------------------------------------------------------------------------------
    .profile-wall { width: 100%; }

    .message-input { min-height: 50px; width: 100%; margin-top: -10px; position: relative; overflow: hidden; }
    .message-input textarea { height: 50px; width: 100%; background-color: transparent; padding: 0 95px 0 0; border-width: 0 0 1px 0; border-color: #8B8B8B; border-style: dashed; line-height: 50px; font-size: 32px; overflow: hidden; resize: none; }
    .message-input button { position: absolute; top: -49px; right: 0; @include transition(top, 0.25s, ease); }
    .message-input button.active { top: 4px; }
    .message-input.busy button { top: -49px; }
    .message-input .message-input-busy { height: 100%; width: 100%; background: #FFF url($path-layout + 'loader-1.gif') no-repeat 50% 50%; position: absolute; top: -100%; left: 0; @include opacity(.8); @include transition(all, .25s, ease); }
    .message-input.busy .message-input-busy { top: 0; }
    
    .wall { width: 102%; margin-top: 40px; }
    .wall-block { width: 23%; margin: 0 2% 2% 0; float: left; }

    .wall-block-message { padding: 15px; @include box-shadow(0 0 8px #CCC); @include rounded-border(1px, 8px, #FFF); }
    html.no-boxshadow .wall-block-message { border-color: #D6D6D6; }
    .wall-block-message .avatar { float: left; margin-right: 8px; @include rounded-border(1px, 4px, #FFF); @include box-shadow(0 0 6px #CCC); }
    .wall-block-message .message-header a { display: block; padding: 3px 0 3px 0; font-weight: bold; font-size: 14px; }
    .wall-block-message .date { color: #AAA; font-size: 11px; text-transform: lowercase; }
    .wall-block-message .message { padding: 7px 2px 2px 2px; float: left; line-height: 200%; font-size: 14px; }
    
    .profile-wall-controls { margin-top: 20px; overflow: hidden; }
    .profile-wall-controls .more-wall-messages { float: left; }
    
    .more-wall-messages { height: 38px; display: block; position: relative; }
    .more-wall-messages .text { font-size: 19px; line-height: 38px; @include transition(all, 0.25s, ease); }
    .more-wall-messages .text:before { @include icomoon-icon(); content: "\e024"; float: left; margin-right: 8px; font-size: 22px; line-height: 38px; }
    .more-wall-messages .spinner { width: 30px; height: 30px; position: absolute; top: -40px; left: 50%; margin-left: -15px; @include opacity(0); @include transition(all, 0.25s, ease); }
    .more-wall-messages .spinner img { width: 30px; height: 30px; }
    .more-wall-messages.busy { height: 66px; }
    .more-wall-messages.busy .text { padding-top: 28px; @include opacity(.5); @include scale(.5, .5); }
    .more-wall-messages.busy .spinner { top: 0; @include opacity(1); }