/*
 *	___  _ ____ _  _ ____ _   _ _  _ _  _ ____    ____ ____ ____ 
 *	|  \ | [__  |\ | |___  \_/  |\/| |\/| |  |    |___ |  | [__  
 *	|__/ | ___] | \| |___   |   |  | |  | |__|    |___ |__| ___] 
 *    
 *	Styles for epic user profiles.
 *	
 *	Xiris
 */
 
	@import "resources/assets";

    // Global Styles
    // --------------------------------------------------------------------------------
    .eos-profile-container { position: relative; margin-top: -12px; z-index: $z-index-page-contents; }
    .profile-content-container { position: relative; padding: 0 2%; }

    // Profile Header
    // --------------------------------------------------------------------------------
    .profile-header { height: 340px; width: 100%; background-position: 50% 50%; @include background-size(cover); position: relative; border-bottom: 1px solid #FFF; @include box-shadow(inset 0px -15px 62px -16px #000); z-index: 1000; }
    .profile-header .grunge { height: 323px; width: 100%; background: url($path-layout + "profile-header-grunge.png") repeat-x 50% 0; position: absolute; bottom: 0; left: 0; z-index: 2000; }

    .profile-header .profile-user-info { position: absolute; left: 2%; bottom: 24px; text-align: center; z-index: 3000; }
    .profile-user-info:before { content: ''; display: inline-block; vertical-align: middle; margin-right: -0.25em; }
    .profile-user-info .avatar img { @include rounded-border(0px, 4px, transparent); }
    .profile-user-info .username { line-height: 50px; margin-left: 17px; }
    .profile-user-info .username h2 { padding-bottom: 4px; font-size: 42px; color: #FFF; text-shadow: 0 0 36px #000; font-weight: bold; }
    .profile-user-info .bottomed { display: inline-block; vertical-align: bottom; }

    .profile-header-buttons { position: absolute; right: 2%; bottom: 28px; z-index: 3000; }
    .profile-header-button { display: inline-block; margin-left: 12px; }

    // Profile Content
    // --------------------------------------------------------------------------------
    .profile-content { @include box-shadow(inset 0px 13px 17px -17px #000); }
    .profile-content .profile-content-inner { padding-top: 40px; }
    .profile-content .sidebar-content { width: 20%; min-width: 300px; float: left; }
    .profile-content .main-content { width: 78%; float: right; }

    .sidebar-content { }
    .sidebar-content section { margin-bottom: 50px; padding-bottom: 11px; border-bottom: 1px solid #FFF; @include box-shadow(0px 13px 25px -25px #444); }
    .sidebar-content section h3 { margin-bottom: 17px; text-transform: uppercase; }

    .profile-list { }
    .profile-list span { height: 32px; display: block; margin-bottom: 5px; font-size: 13px; line-height: 32px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    .profile-list span:before { margin-right: 8px; float: left; font-size: 22px; line-height: 32px; }

    .profile-attributes { }
    .profile-attribute span:before { color: $theme-secondary; }

    .profile-contact-info { }
    .profile-contact-info li.contact-info-email span:before { color: #A8860F; }
    .profile-contact-info li.contact-info-website span:before { color: #6E0B7A; }
    .profile-contact-info li.contact-info-pm span:before { color: #7D0909; }
    .profile-contact-info li.contact-info-messenger span:before { color: #6AB006; }
    .profile-contact-info li.contact-info-twitter span:before { color: #4EB2C2; }
    .profile-contact-info li.contact-info-facebook span:before { color: #123B81; }

    .profile-stat { height: 30px; margin-bottom: 5px; line-height: 30px; font-size: 16px; color: #AFAFAF; }
    .profile-stat span { float: left; margin-right: 6px; font-size: 30px; font-family: $font-family-heading; color: $theme-secondary; line-height: 30px; }

    // Profile Wall
    // --------------------------------------------------------------------------------
    .profile-wall { width: 100%; }

    .message-input { min-height: 49px; width: 100%; margin-top: -10px; position: relative; overflow: hidden; }
    .message-input textarea { height: 49px; width: 100%; background-color: transparent; padding: 10px 95px 10px 0; border-width: 0 0 1px 0; border-color: #8B8B8B; border-style: dashed; line-height: 32px; font-size: 32px; overflow: hidden; resize: none; }
    .message-input button { position: absolute; top: -49px; right: 0; @include transition(top, 0.25s, ease); }
    .message-input button.active { top: 4px; }

    .wall { width: 102%; margin-top: 40px; }
    .wall-block { width: 23%; margin: 0 2% 2% 0; float: left; }

    .wall-block-message { padding: 15px; @include box-shadow(0 0 8px #CCC); @include rounded-border(1px, 8px, #FFF); }
    .wall-block-message .avatar { float: left; margin-right: 8px; @include rounded-border(1px, 4px, #FFF); @include box-shadow(0 0 6px #CCC); }
    .wall-block-message .message-header a { display: block; padding: 3px 0 3px 0; font-weight: bold; font-size: 14px; }
    .wall-block-message .date { color: #AAA; font-size: 11px; text-transform: lowercase; }
    .wall-block-message .message { padding: 7px 2px 2px 2px; float: left; line-height: 200%; font-size: 14px; }

    /* *************************************** */
	/* PROFILE STYLES
	/* *************************************** */
      
    /* profile header */
    .profile-module-header {
        height: 280px; background-color: #F8F8F8;
        
        .profile-picture { display: inline-block; border-right: 4px solid #D8D8D8; }
        .profile-user-information { width: 856px; display: inline-block; }
        .partition-1 { height: 240px; width: 460px; margin: 40px 20px 0 40px; float: left; position: relative; }
        .partition-2 { height: 240px; width: 276px; margin: 40px 40px 0 20px; float: right; position: relative; }
    
        h1.profile-username { margin-top: -12px; }
        h2.profile-status { font-size: 13px; padding-top: 6px; }
        
        .profile-options {
            width: 400px; background: url($path-layout + 'profile-header-line-fade.png') no-repeat 0 0; position: absolute; bottom: 0; right: -40px; padding: 12px 20px 12px 0;

            a { height: 12px; background: url($path-layout + 'profile-a-aarow.png') no-repeat 100% 0; margin-right: 20px; padding-right: 14px; float: right; line-height: 12px; color: $font-color-primary; @include transition(all, .25s, ease); }
            a:hover { background-position: 100% -28px; color: $font-color-contrast; }
        }
        
        .profile-active-pins {
            width: 200px; float: right;
       
            a { height: 40px; width: 40px; background-color: #E7E7E7; display: block; margin: 0 0 10px 10px; float: left; }
            a:hover { @include opacity(.6); }
            a img { height: 40px; width: 40px; }
        }
       
        .profile-user-stats {
            margin-top: 38px; float: right;
            a {
                margin-left: 22px; float: left;
                
                dl { }
                dt { font-family: $font-family-heading; font-size: 36px; color: $font-color-primary; text-align: center; }
                dd { font-size: 13px; color: $font-color-contrast; }
            }
            a:hover {
                
                dt { color: $font-color-primary-hover; }
            }
        }
       
        ul {
            position: absolute; bottom: 24px;
        
            li { height: 20px; background: url($path-icons + 'profile-user-info.png') no-repeat; margin-bottom: 10px; padding-left: 25px; line-height: 20px; font-size: 12px; }
            li.user-info-location { background-position: 0 0; }
            li.user-info-location:hover { background-position: 0 -20px; }
            li.user-info-joined { background-position: 0 -40px; }
            li.user-info-joined:hover { background-position: 0 -60px; }
            li.user-info-visited { background-position: 0 -78px; }
            li.user-info-visited:hover { background-position: 0 -98px; }
            li.user-info-activity { background-position: 0 -116px; }
            li.user-info-activity:hover { background-position: 0 -136px; }
        }
    }
    
    /* profile messaging */
    .profile-module-messages {
        background-color: #D8D8D8; border-bottom: 1px solid #C2C2C2; border-top: 4px solid #D8D8D8;
    
        textarea { height: auto; display: block; width: $page-width; background-color: #333637; padding: 16px 14px 38px 14px; color: #8A8A8A; font-size: 14px; line-height: 20px; resize: none; @include rounded-border(0, 0, transparent); @include transition(all, .25s, ease); overflow: hidden; }
        textarea:focus { color: #CECECE; }
        
        .profile-messages-stream {
            padding: 3px 4px 4px 4px;
        
            .profile-message {
                width: 100%; background-color: #F0F0F0; margin-top: 1px;
            
                > a { height: 66px; width: 66px; display: inline-block; float: left; }
                > a img { max-height: 66px; max-width: 66px; position: absolute; top: 50%; left: 50%; }
                > div {
                    min-height: 60px; float: left; padding: 16px; @include box-sizing();
                
                    .message-title { margin-left: 1px; font-size: 14px; }
                    .message-title:hover { color: $font-color-contrast-hover; }
                    .message-extra-info { margin-left: 6px; font-size: 11px; color: #9F9F9F; }
                    .message-text { margin-top: 7px; }
                }
            }
            
            .profile-message.user-message .message-title { }
            .profile-message.status-message .message-title { color: #d90000; }
        }
        
        .profile-messages-get-more { height: 38px; width: 100%; display: block; text-align: center; line-height: 34px; font-size: 14px; color: #B3B3B3; }
        .profile-messages-get-more:hover { color: $font-color-contrast; }
    }
    
    /* profile connections */
    .profile-module-connections {
        background-color: #D8D8D8; padding: 40px; margin-top: 10px; border-top: 1px solid #C2C2C2; border-bottom: 1px solid #C2C2C2; @include box-sizing();
        
        h3 { margin-bottom: 6px; }
        i { color: $font-color-contrast; font-style: normal; }
        ul {
            padding-top: 20px;
            li { float: left; position: relative; margin: 0 6px 6px 0; @include transition(all, .15s, ease); }
            li:hover { @include opacity(.5); top: -3px; }
        }
        
    }
    
    /* profile more info */
    .profile-module-more-info {
        background-color: #55B3DB; padding: 40px; margin-top: 10px; @include box-sizing();
        
        .partition-1 { width: 260px; float: left; }
        .partition-2 { width: 750px; float: right; }
        
        .profile-about-text { margin-top: 16px; color: #2E6075; line-height: 20px; }
        ul {
            margin-top: 16px;
            li { margin-bottom: 6px; }
            li a { height: 20px; background: url($path-icons + 'profile-user-contacts.png') no-repeat; display: block; padding-left: 32px; color: #2E6075; line-height: 20px; }
            li a:hover { color: #FFF; }
            li.user-contact-pm a { background-position: 0 0; }
            li.user-contact-email a { background-position: 0 -27px; }
            li.user-contact-website a { background-position: 0 -55px; }
        }
    }
    
    /* *************************************** */
	/* PROFILE CUSTOMIZATION MENU
	/* *************************************** */
    #customize-profile-menu { height: 100%; width: 100%; background: url($path-layout + 'profile-customize-bg.png') repeat; visibility: hidden; position: fixed; top: 0; left: 0; z-index: $z-index-overlay; @include opacity(0); }
    #customize-profile-menu #menu-active-area { width: 100%; background-color: #F8F8F8; margin-top: -230px; position: absolute; top: -50%; }
    #customize-profile-menu #menu-active-area #menu-area-content { width: $page-width; padding: 30px 0 34px 0; margin: 0 auto; }
    #customize-profile-menu h4 { padding-bottom: 18px; font-size: 26px; color: $font-color-contrast; }
    #customize-profile-menu #close-menu { height: 40px; width: 40px; background: url($path-icons + 'profile-customizations-menu-close.png') no-repeat 50% 5px; margin-top: -8px; float: right; }
    #customize-profile-menu #close-menu:hover { background-position: 50% -45px; }
    #customize-profile-menu #save-customizations { width: 100%; background-color: #1596CC; display: block; padding: 20px 0 18px 0; font-size: 26px; font-family: $font-family-heading; color: #FFF; text-align: center; border-bottom: 6px solid #F8F8F8; cursor: pointer; }
    #customize-profile-menu #save-customizations:hover { background-color: #47c4f9; }
    
    .customize-item { margin-right: 20px; float: left; position: relative; }
    .customize-item .button-file-selector { margin: 10px 0 0 0; }
    .customize-item .customize-image { height: 230px; width: 230px; border: 3px solid #F8F8F8; @include box-shadow(0 0 3px #B5B5B5); @include box-sizing(); overflow: hidden; }
    .customize-item .upload-progress { width: 100%; background: #0d1922; visibility: hidden; position: absolute; top: 0; left: 0; text-align: center; line-height: 230px; font-family: $font-family-heading; font-size: 54px; color: #FFF; }
    .customize-item.uploading .upload-progress { visibility: visible; @include transition(height, .5s, ease); }
    
    #customize-profile-background .customize-image { background-size: 100% auto; width: 380px; }