/*
 *	___  _ ____ _  _ ____ _   _ _  _ _  _ ____    ____ ____ ____ 
 *	|  \ | [__  |\ | |___  \_/  |\/| |\/| |  |    |___ |  | [__  
 *	|__/ | ___] | \| |___   |   |  | |  | |__|    |___ |__| ___] 
 *    
 *	Defines highly reusable UI components.
 * 
 *	Zach Knickerbocker
 */
 
	@import "resources/assets";
    @import "_ui_utility_bar";
        
    // Content Structure
    // --------------------------------------------------------------------------------
    .ui-content-section { width: $page-width-fluid; min-width: $page-width; margin: 10px auto 15px auto; }
    html.fixed-width .forum-section { width: $page-width; } /* adjust width for fixed layouts */
    
    .ui-content-section .ui-content-top { min-height: 40px; width: 100%; position: relative; }
    
        .ui-content-top .content-info { position: absolute; bottom: 0; left: 0; }
        .ui-content-top .content-info h2 { padding-bottom: 11px; float: left; }
        .ui-content-top .content-info p { padding: 6px 0 0 14px; float: left; color: #A2A2A2; font-size: 13px; } 
    
    .ui-content-section .ui-content-core { width: 100%; margin: 0 auto; }
    .ui-content-section .ui-content-bottom { width: 100%; position: relative; }
    
    // Sidebar Layout
    // --------------------------------------------------------------------------------
    .full-sidebar { }
    .full-sidebar > aside { height: 100%; width: 420px; position: fixed; top: 0; left: 0; padding: 122px 20px 22px 2%; float: left; border-right: 1px solid #E4E4E4; @include box-shadow(8px 0 40px #FFF); overflow-y: auto; }
    .full-sidebar > section { margin-left: 420px; padding: 0 2% 22px 34px; }
    .full-sidebar .sidebar-item { padding-bottom: 25px; position: relative; }
    .full-sidebar .sidebar-item.right-flush { right: -20px; }
    .full-sidebar .sidebar-item.sidebar-item-header { text-align: right; }
    .full-sidebar .sidebar-item .sidebar-title { padding-bottom: 10px; font-weight: bold; font-size: 24px; }
    .full-sidebar .sidebar-item .sidebar-subtext { color: #7E7E7E; line-height: 180%; font-size: 13px; }

    .sidebar-nav ul { overflow: hidden; }
    .sidebar-nav ul + ul { margin-top: 25px; }
    .sidebar-nav li { height: 33px; width: 100%; float: right; margin-bottom: 6px; }
    .sidebar-nav li.sidebar-nav-title { height: auto; padding-right: 21px; margin-bottom: 8px; text-transform: uppercase; text-align: right; font-size: 11px; }
    .sidebar-nav li a { height: 33px; width: 100%; display: block; padding-right: 22px; line-height: 33px; text-align: right; font-size: 13px; }
    .sidebar-nav li.selected a { background: url($path-layout + 'sidebar-nav-highlight.png') no-repeat 100% 50%; }
    .sidebar-nav li a:hover { background: url($path-layout + 'sidebar-nav-highlight.png') no-repeat 100% 50%; }
    .sidebar-nav li a:before { float: right; line-height: 32px; margin-left: 12px; font-size: 19px; }

    .sidebar-nav.mini li { height: 26px; margin-bottom: 2px; }
    .sidebar-nav.mini li.sidebar-nav-title { height: auto; margin-bottom: 8px; }
    .sidebar-nav.mini li a { height: 26px; line-height: 26px; }
    .sidebar-nav.mini li.selected a { background-image: url($path-layout + 'sidebar-nav-highlight-mini.png'); }
    .sidebar-nav.mini li a:hover { background-image: url($path-layout + 'sidebar-nav-highlight-mini.png'); }
    .sidebar-nav.mini li a:before { margin-left: 8px; line-height: 26px; font-size: 17px; }

    .full-sidebar.smaller { }
    .full-sidebar.smaller > aside { width: 324px; }
    .full-sidebar.smaller > section { margin-left: 324px; }