/*
 *	___  _ ____ _  _ ____ _   _ _  _ _  _ ____    ____ ____ ____ 
 *	|  \ | [__  |\ | |___  \_/  |\/| |\/| |  |    |___ |  | [__  
 *	|__/ | ___] | \| |___   |   |  | |  | |__|    |___ |__| ___] 
 *    
 *	Styles for user registration.
 *	
 *	Zach Knickerbocker
 */
 
	@import "resources/assets";
	    
    .register-container { min-height: 100%; width: 100%; background-color: #052331; padding-bottom: 40px; overflow: hidden; }

    .register-header { height: 206px; width: 100%; background: url($path-layout + 'registration-header.png') no-repeat 50% 0; position: relative; }
    .register-header a { height: 100px; width: 450px; position: absolute; top: 30px; left: 50%; margin-left: -225px; }

    .register-content-block { @include background-gradient(#1596CC, #0C6BE3, left); padding: 50px 0; margin-bottom: 40px; }
    .register-content-block .inner-padding { width: 600px; margin: 0 auto; }

    .register-condition { padding-bottom: 20px; color: #EBFF05; font-size: 12px; line-height: 180%; text-align: center; }

    .register-field-set { width: 600px; margin-top: 20px; position: relative; }
    .register-field-set dt { padding: 0 0 8px 8px; }
    .register-field-set label { font-size: 14px; color: #FFF; cursor: pointer; line-height: 150%; @include user-select(none); }
    .register-field-set:first-child { margin-top: 0; }
    .register-field-set input { height: 50px; width: 100%; background-color: #F9F9F9; padding-left: 12px; @include rounded-border(2px, 4px, #F9F9F9); border-right-color: #F9F9F9; @include box-shadow(inset 0 3px 7px #D5D5D5, 0 0 7px #6D6D6D); font-size: 18px; font-weight: bold; }
    .register-field-set input:focus { border-color: #F9F9F9; }

    .register-field-set.double dl { width: 290px; float: left; margin-left: 20px; }
    .register-field-set.double dl:first-child { margin-left: 0; }

    .register-field-set[data-instruction]:before { width: 200px; background: url($path-icons + 'registration-instruction.png') no-repeat 0 10px; content: attr(data-instruction); display: block; padding: 2px 0 0 48px; position: absolute; left: 616px; top: 20px; line-height: 180%; color: #052331; }

    .register-agreement { width: 600px; }
    .register-agreement dt h2 { font-weight: bold; margin-bottom: 20px; color: #FFF; }
    .register-agreement dd { font-size: 13px; line-height: 180%; color: #052331; }
    .register-agreement dd a { color: #BEE8FF; }
    .register-agreement dd a:hover { color: #FFF; }

    .register-controls { margin-top: 20px; }
    .register-controls input { float: left; margin-right: 10px; }

    $register-button-color: #08435C;
    .button-generic.register { height: 50px; padding-left: 30px; padding-right: 30px; line-height: 50px; background-color: $register-button-color; border-color: darken($register-button-color, 20%); font-size: 15px; }
    .button-generic.register:hover { background-color: darken($register-button-color, 20%); border-color: darken($register-button-color, 40%); }
    .button-generic.register:active { background-color: $register-button-color; border-color: darken($register-button-color, 20%); }