<!-- INCLUDE overall_header_core.html -->
    <script type="text/javascript">
    // <![CDATA[
        onload_functions.push('document.getElementById("<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->").focus();');
    // ]]>
    
    
    </script>
    <div class="{DMMO_RANDOM_GAME_PREF} usm-container usm-background">
        <div class="usm-login-container">
        <form action="{S_LOGIN_ACTION}" method="post" id="login">
            <a class="usm-login-logo" href="{DMMO_NAV_HOME}"></a>
            <div class="usm-login-fields">
                <dl class="username-field">
                    <dt><label for="{USERNAME_CREDENTIAL}">{L_USERNAME}:</label></dt>
                    <dd><input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
                </dl>
                <dl class="password-field">
                    <dt><label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}:</label></dt>
                    <dd><input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox autowidth" /></dd>
                </dl>
                <!-- IF S_AUTOLOGIN_ENABLED --><input style="display: none;" type="checkbox" name="autologin" id="autologin" tabindex="4" checked /><!-- ENDIF -->
            </div>
            <div class="usm-login-controls">
                {S_LOGIN_REDIRECT}
                <input class="button-generic" id="{USERNAME_CREDENTIAL}-login" type="submit" name="login" tabindex="6" value="Login" />
                <!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
                <a class="button-generic" href="{U_REGISTER}">Create An Account</a>
                <!-- ENDIF -->
            </div>
        </form>
        </div>
        <canvas id="usm-login-bg" class="usm-login-bg"></canvas>
    </div>
    <script type="text/javascript">
        // Update the login button with the user's username input.
        $('#{USERNAME_CREDENTIAL}').bind('keyup focusout', function() {
        
            var username = $(this).val();
            if (username.length > 0) {
            
                $('#{USERNAME_CREDENTIAL}-login').val('Login as ' + username); 
                
            } else {
            
                $('#{USERNAME_CREDENTIAL}-login').val('Login');
            }
        });

        // Mask a background image for the login page using a canvas.
        var usm_bg = document.getElementById("usm-login-bg");
        var usm_bg_ctx = usm_bg.getContext("2d");

        var mask = new Image();
        mask.onload = function () {
            usm_bg.width = mask.width;
            usm_bg.height = mask.height;

            var bg = new Image();
            bg.onload = function () {
                usm_bg_ctx.drawImage(mask, 0, 0);
                usm_bg_ctx.save();
                usm_bg_ctx.globalCompositeOperation = 'source-in';
                usm_bg_ctx.drawImage(bg, 0, 0);
                usm_bg_ctx.restore();

                usm_bg.className += " visible";
            }
            bg.src = "{DMMO_IMG_LAYOUT_DIR}/login-bg-{DMMO_RANDOM_GAME_PREF}.jpg";
        }
        mask.src = "{DMMO_IMG_LAYOUT_DIR}/login-bg-mask.png";
    </script>
<!-- INCLUDE overall_footer_core.html -->