<!-- INCLUDE overall_header.html -->
<script type="text/javascript">
$(document).ready(function() {

    <!-- IF CAN_CUSTOMIZE -->
    new ProfileUploader('customize-profile-background', 'customization-0', '{CUSTOMIZATION_BACKGROUND}', 'Upload Custom Background');
    new ProfileUploader('customize-profile-picture', 'customization-1', '{CUSTOMIZATION_PROFILE_IMAGE}', 'Upload Custom Picture');
    <!-- ENDIF -->
    $(document).ready(function() {

        $('#profile-message-input').autogrow();
    });
});
</script>
<!-- IF CAN_CUSTOMIZE -->
<section id="customize-profile-menu">
    <div id="menu-active-area">
        <form id="customize-profile-form" name="customize-images" method="post" enctype="multipart/form-data" action="{SAVE_CUSTOM_ACTION}">
            <div id="menu-area-content" class="group">
                <a id="close-menu" href="javascript: ProfileEvents.hideCustomizer();"></a>
                <h4>Customize Your Profile</h4>
                <div id="customize-profile-background" class="customize-item"></div>
                <div id="customize-profile-picture" class="customize-item"></div>
            </div>
            <a id="save-customizations" href="javascript: ProfileEvents.commitChanges('customize-images');">Save Changes</a>
        </form>
    </div>
</div>
</section>
<!-- ENDIF -->
<div id="profile-content" class="group profile-background" style="background-image: url({CUSTOMIZATION_BACKGROUND});">
    <div class="profile-border">
        <div class="profile-content">
            <section class="profile-module profile-module-header group">
                <div class="profile-picture" style="background-image: url({CUSTOMIZATION_PROFILE_IMAGE});">
                    <!-- IF CAN_CUSTOMIZE --><a href="javascript:;" onclick="ProfileEvents.showCustomizer();" data-tooltip="Click to customize your profile!"></a><!-- ENDIF -->
                </div>
                <div class="profile-user-information">
                    <div class="group">
                        <div class="partition-1">
                            <h1 class="profile-username">{USERNAME}</h1>
                            <h2 class="profile-status">I'm looking forward to the weekend... some time to relax.</h2>
                            <ul>
                                <li class="user-info-location">Disney World</li>
                                <li class="user-info-joined">Joined January 16, 2012, 2:23 am</li>
                                <li class="user-info-visited">Last visited October 31, 2012, 5:28 pm</li>
                                <li class="user-info-activity">Most active in <a href="#">Status Update #23: Profiles</a></li>
                            </ul>
                        </div>
                        <div class="partition-2">
                            <div class="profile-active-pins">
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                            <div class="profile-user-stats">
                                <a href="#">
                                    <dl>
                                        <dt>{POSTS}</dt>
                                        <dd>total posts</dd>
                                    </dl>
                                </a>
                                <a href="#">
                                    <dl>
                                        <dt>{POSTS_PCT_NUM}%</dt>
                                        <dd>of total posts</dd>
                                    </dl>
                                </a>
                                <a href="#">
                                    <dl>
                                        <dt>{POSTS_DAY_NUM}</dt>
                                        <dd>posts / day</dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="profile-options">
                                <a href="#">Edit Profile Information</a>
                                <!-- IF CAN_CUSTOMIZE --><a href="javascript:;" onclick="ProfileEvents.showCustomizer();">Customize Profile</a><!-- ENDIF -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="profile-module profile-module-messages group">
                <textarea id="profile-message-input" cols="100" rows="1" placeholder="Type a message or a status..."></textarea>
                <ul class="profile-messages-stream">
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message status-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">Status Update</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">Hey everyone, look at this status update!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message status-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">Status Update</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">Hey everyone, look at this status update!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                    <li class="profile-message user-message group">
                        <a class="avatar" href="#"><img height="100" width="100" src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg"></a>
                        <div>
                            <a class="message-title" href="#">{USERNAME}</a>
                            <span class="message-extra-info">20 minutes ago.</span>
                            <p class="message-text">This is the message text!</p>
                        </div>
                    </li>
                </ul>
                <a class="profile-messages-get-more" href="#">get more messages</a>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.avatar img').each(function()
                        {
                            dmmo.forums.centerAvatar($(this));
                        });

                        $('#profile-message-input').autogrow();
                    });
                    
                </script>
            </section>
            <section class="profile-module profile-module-connections group">
                <h3>{USERNAME}' Connections</h3>
                <i>20 friends, 8 foes</i>
                <ul>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                    <li>
                        <a class="avatar avatar-medium" href="#" data-tooltip="NoobPants"><img src="http://disneymmo.com/community/download/file.php?avatar=127_1348953666.jpg" height="100" width="100"></a>
                    </li>
                </ul>
            </section>
            <section class="profile-module profile-module-more-info group">
                <div class="partition-1">
                    <h3>Getting In Touch</h3>
                    <ul>
                        <li class="user-contact-pm"><a href="#">Send Private Message</a></li>
                        <li class="user-contact-email"><a href="#">Send E-Mail</a></li>
                        <li class="user-contact-website"><a href="#">Send Website</a></li>
                    </ul>
                </div>
                <div class="partition-2">
                    <h3>More About {USERNAME}</h3>
                    <p class="profile-about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et nibh tortor, eget molestie augue. Donec mi magna, venenatis eget interdum vel, malesuada a dolor. Curabitur nulla mi, tincidunt sit amet molestie eu, ultrices at nisl. Praesent nec viverra massa. Maecenas nibh lorem, dignissim eu venenatis a, adipiscing tempor urna. Aenean vel tincidunt risus.
                        <br><br>Aenean placerat pretium arcu, vitae ultricies neque elementum vel. Fusce ac sapien nisl. Fusce nec quam non purus bibendum sodales. Curabitur orci arcu, luctus id hendrerit id, convallis vel urna.
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- INCLUDE overall_footer.html -->