	<footer class="theme-dmmo-1">
        <section id="footer-extra"></section>
        <section id="footer-content">
            <div id="footer-links" class="group">
                <a href="#">Guidelines</a>
                <a href="#">Contact</a>
                <a href="#">Privacy</a>
                <a href="#">Parents</a>
                <a href="#">Help</a>
                <a href="#">About Us</a>
            </div>
            <div id="footer-rights">
                &copy; 2012 - 2013 DisneyMMO. Not affiliated with The Walt Disney Company.
            </div>
        </section>
	</footer>
 <!-- INCLUDE overall_footer_core.html -->