	<div>
		<a id="bottom" name="bottom" accesskey="z"></a>
		<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	</div>

    <!-- The rest of our JS for optimization awesomeness. -->
    <script src='http://disneymmo.com/js/vendor/jquery-ui.js' type='text/javascript'></script>
    <script src='http://disneymmo.com/js/plugins.js' type='text/javascript'></script>
    <script src='http://disneymmo.com/js/core.js' type='text/javascript'></script>
    <!-- IF PAGE_ID == homepage --><script src='http://disneymmo.com/js/module/showcase.js' type='text/javascript'></script><!-- ENDIF -->
    <!-- IF PAGE_ID == homepage --><script src='http://disneymmo.com/js/module/poll.js' type='text/javascript'></script><!-- ENDIF -->
    <!-- IF PAGE_ID == discussion --><script src='http://disneymmo.com/js/module/discussionmode.js' type='text/javascript'></script><!-- ENDIF -->
    <!-- IF PAGE_ID == discussions_list --><script src='http://disneymmo.com/js/module/discussionfilters.js' type='text/javascript'></script><!-- ENDIF -->
    <!-- IF PAGE_ID == editor --><script src='http://disneymmo.com/js/module/discussion_category_selector.js' type='text/javascript'></script><!-- ENDIF -->
    <!-- IF PAGE_ID == profile --><script src='http://disneymmo.com/js/library/fileuploader.js' type='text/javascript'></script><!-- ENDIF -->
    
</body>
</html>