<!-- INCLUDE overall_header_core.html -->
	<header>
		<div class="inside">
			<a href="{DMMO_NAV_HOME}" class="logo">
				<h1 class="logo-screen-reader-text">DisneyMMO</h1>
			</a>
            <div class="scene"></div>
			<nav>
				<ul class="global-nav group">
					<li class="global-nav-item home">
						<a class="global-nav-button" href="{DMMO_NAV_HOME}"><span>Home</span></a>
					</li>
					<li class="global-nav-item forums menu-dropper">
						<a class="global-nav-button" href="{DMMO_NAV_FORUMS}"><span>Community</span></a>
                        <div class="menu menu-2-Y">
                            <div class="menu-group">
                                <ul class="menu-list menu-list-iconified">
                                    <li><a class="forums-menu-cp clickable" href="http://disneymmo.com/community/26">Club Penguin</a></li>
                                    <li><a class="forums-menu-ph clickable" href="http://disneymmo.com/community/27">Pixie Hollow</a></li>
                                    <li><a class="forums-menu-po clickable" href="http://disneymmo.com/community/28">Pirates Online</a></li>
                                    <li><a class="forums-menu-tt clickable" href="http://disneymmo.com/community/29">ToonTown</a></li>
                                    <li><a class="forums-menu-og clickable" href="http://disneymmo.com/community/4">Other Games</a></li>
                                </ul>
                            </div>
                            <div class="menu-group">
                                <ul class="menu-list menu-list-iconified">
                                    <li><a class="forums-menu-dis clickable" href="http://disneymmo.com/community/18">Disney General</a></li>
                                    <li><a class="forums-menu-crt clickable" href="http://disneymmo.com/community/31">Creativity</a></li>
                                    <li><a class="forums-menu-ot clickable" href="http://disneymmo.com/community/11">Off-Topic</a></li>
                                    <li><a class="forums-menu-dmmo clickable" href="http://disneymmo.com/community/1">DisneyMMO</a></li>
                                    <!-- IF DMMO_CAN_VIEW_STAFF_FORUM --><li><a class="forums-menu-staff clickable" href="http://disneymmo.com/community/14">Forbidden Magic</a></li><!-- ENDIF -->
                                </ul>
                            </div>
                        </div>
					</li>
					<li class="global-nav-item shop menu-dropper">
						<a class="global-nav-button" href="{DMMO_NAV_SHOP}"><span>Shop</span></a>
                        <div class="menu">
                            <div class="menu-group">
                                <div class="menu-error">Coming soon!</div>
                            </div>
                        </div>
					</li>
					<li class="global-nav-item guides">
						<a class="global-nav-button" href="{DMMO_NAV_CHAT}"><span>Chat</span></a>
					</li>
					<li class="global-nav-item database menu-dropper">
						<a class="global-nav-button" href="{DMMO_NAV_DATABASE}"><span>Database</span></a>
                        <div class="menu">
                            <div class="menu-group">
                                <div class="menu-error">Coming soon!</div>
                            </div>
                        </div>
					</li>
					<li class="global-nav-item blogs menu-dropper">
						<a class="global-nav-button" href="{DMMO_NAV_BLOGS}"><span>Blogs</span></a>
                        <div class="menu menu-2-Y">
                            <div class="menu-group">
                                <div class="menu-subtitle">Blog Categories</div>
                                <ul class="menu-list">
                                    <li><a href="http://disneymmo.com/community/blog.php?c=6">DisneyMMO</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?c=2">Club Penguin</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?c=3">Pixie Hollow</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?c=1">Pirates Online</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?c=4">Toontown</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?c=5">Off-topic</a></li>
                                </ul>
                            </div>
                            <div class="menu-group">
                                <div class="menu-subtitle">Blog Controls</div>
                                <ul class="menu-list">
                                    <li><a href="http://disneymmo.com/community/blog.php?u={DMMO_USER_ID}">My Blogs</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?mode=recent_blogs">Recent Blogs</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?style=1&mode=recent_comments">Recent Comments</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?mode=random_blogs">Random Blog</a></li>
                                    <li><a href="http://disneymmo.com/community/blog.php?mode=popular_blogs">Popular Blogs</a></li>
                                    <li><a href="http://disneymmo.com/community/ucp.php?i=215">Control Panel</a></li>
                                </ul>
                            </div>
                        </div>
					</li>
					<li class="global-nav-item more menu-dropper">
						<a class="global-nav-button" href="javascript:;"><span>More</span></a>
                        <div class="menu menu-2-Y">
                            <div class="menu-group">
                                <div class="menu-subtitle">Discussions</div>
                                <ul class="menu-list">
                                    <li><a class="clickable" href="http://disneymmo.com/guides.php">Game Guides</a></li>
                                    <li><a class="clickable" href="http://disneymmo.com/community/search.php?search_id=newposts">Recent Discussions</a></li>
                                    <li><a class="clickable" href="http://disneymmo.com/community/search.php?search_id=active_topics">Active Discussions</a></li>
                                    <li><a class="clickable" href="http://disneymmo.com/community/search.php?search_id=unreadposts">Unread Discussions</a></li>
                                    <li><a class="clickable" href="http://disneymmo.com/community/search.php">Search</a></li>
                                </ul>
                            </div>
                            <div class="menu-group">
                                <div class="menu-subtitle">DisneyMMO</div>
                                <ul class="menu-list">
                                    <li><a class="clickable" href="http://disneymmo.com/community/faq.php">FAQ</a></li>
                                    <li><a class="clickable" href="http://disneymmo.com/guidelines.php">Guidelines</a></li>
                                    <li><a class="clickable" href="http://disneymmo.com/community/memberlist.php">Members</a></li>
                                    <li><a class="clickable" href="http://disneymmo.com/community/memberlist.php?mode=leaders">Staff Team</a></li>
                                </ul>
                            </div>
                        </div>
					</li>
				</ul>
			</nav>
            <!-- IF S_USER_LOGGED_IN -->
			<div class="global-profile">
				<a class="user-avatar" href="{DMMO_U_USER_PROFILE}">{DMMO_AVATAR}</a>
				<a class="user-pms global-profile-button" href="{U_PRIVATEMSGS}">
                    <!-- IF S_USER_NEW_PRIVMSG --><span>{S_USER_NEW_PRIVMSG}</span>
                    <!-- ELSE --><!-- IF S_USER_UNREAD_PRIVMSG --><span>{S_USER_UNREAD_PRIVMSG}</span><!-- ENDIF --><!-- ENDIF -->
                </a>
                <a class="user-settings global-profile-button" href="{DMMO_U_USERCP}"></a>
                <a class="user-logout global-profile-button" href="{U_LOGIN_LOGOUT}"></a>
				<div class="user-menu" style="display: none;">
					<div class="user-logout"><a href="{U_LOGIN_LOGOUT}">Logout</a></div>
					<div class="user-nav">
						<ul class="group">
							<li class="user-view-messages">
								<a href="{U_PRIVATEMSGS}"><span>View All<br>Messages</span></a>
							</li>
							<li class="user-manage-friends">
								<a href="{DMMO_U_FRIENDS}"><span>Manage<br>Friends</span></a>
							</li>
							<li class="user-edit-profile">
								<a href="{DMMO_U_EDIT_PROFILE}"><span>Modify<br>Profile</span></a>
							</li>
							<li class="user-edit-settings">
								<a href="{DMMO_U_EDIT_SETTINGS}"><span>Change<br>Settings</span></a>
							</li>
							<li class="user-search-posts">
								<a href="{U_SEARCH_SELF}"><span>Find My<br>Posts</span></a>
							</li>
							<li class="user-edit-signature">
								<a href="{DMMO_U_EDIT_SIGNATURE}"><span>Edit<br>Signature</span></a>
							</li>
							<li class="user-edit-avatar">
								<a href="{DMMO_U_EDIT_AVATAR}"><span>Edit<br>Avatar</span></a>
							</li>
                            <!-- IF U_ACP -->
							<li class="user-admin-panel">
								<a href="{DMMO_U_ADMINCP}"><span>Admin<br>Panel</span></a>
							</li>
                            <!-- ENDIF -->
						</ul>
					</div>
					<div class="user-cp"><a href="#">View Your Control Panel</a></div>
				</div>
                <!-- ELSE -->
                <div class="global-profile">
                    <!-- IF S_REGISTER_ENABLED --><a href="{U_REGISTER}" class="global-profile-register global-profile-auth-button">Sign Up</a><!-- ENDIF -->
                    <a href="{U_LOGIN_LOGOUT}" class="global-profile-login global-profile-auth-button">Login</a>
                </div>
                <!-- ENDIF -->
			</div>
        </div>
	</header>