<!-- INCLUDE ucp_pm_header.html -->
        <section>

            <div class="forum-editor">
                <!-- IF S_DRAFT_LOADED -->
                <div class="usercp-component editor-notice">
                    <p>{L_DRAFT_LOADED_PM}</p>
                </div>
                <!-- ENDIF -->
                <!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><!-- ENDIF -->
                <!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->
                <!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
                <!-- IF ERROR -->
                <div class="editor-error">
                    <p>{ERROR}</p>
                </div>
                <!-- ENDIF -->     

                <!-- IF S_PRIVMSGS and not S_SHOW_DRAFTS -->
                    <!-- IF S_ALLOW_MASS_PM -->
                    <!-- IF not S_EDIT_POST -->
                    <div class="edit-block no-space">
                        <div class="edit-content">
                            <div class="field-row">
                                <dl>
                                    <dt><label for="username_list" data-tooltip="Type the name of your desired recipient(s) and then press enter. If adding multiple recipients, simply press enter after each recipient entry.">Message Recipients:</label></dt>
                                    <dd>
                                        <div class="recipients-container faux-text-input">
                                            <ul id="recipients-to-list" class="recipients-list group">
                                            </ul>
                                            <input id="recipients-to-input" class="recipients-input" type="text" value="" tabindex="2" data-recipient-type="to" />
                                            <!-- IF S_GROUP_OPTIONS -->
                                            <div class="recipients-groups menu-dropper menu-drop-overlap" data-icon="&#xe016;">
                                                <div class="menu">
                                                    <div class="menu-group-wide">
                                                        <ul class="menu-list">
                                                            <!-- BEGIN group_option -->
                                                            <li><a class="<!-- IF group_option.IS_SPECIAL -->sep <!-- ENDIF -->group-recipient-option" href="javascript:;" data-group-id="{group_option.GROUP_ID}" data-recipient-type="to">{group_option.GROUP_NAME}</a></li>
                                                            <!-- END group_option -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ENDIF -->
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block no-space">
                        <div class="edit-content">
                            <div class="field-row">
                                <dl>
                                    <dt><label for="username_list" data-tooltip="Recipients entered in this input field will be blind carbon copied (BCC). That is, nobody else copied on this message will know that you sent this message to these recipients.">BCC Recipients:</label></dt>
                                    <dd>
                                        <div class="recipients-container faux-text-input">
                                            <ul id="recipients-bcc-list" class="recipients-list group">
                                            </ul>
                                            <input id="recipients-bcc-input" class="recipients-input" type="text" value="" tabindex="2" data-recipient-type="bcc" />
                                            <!-- IF S_GROUP_OPTIONS -->
                                            <div class="recipients-groups menu-dropper menu-drop-overlap" data-icon="&#xe016;">
                                                <div class="menu">
                                                    <div class="menu-group-wide">
                                                        <ul class="menu-list">
                                                            <!-- BEGIN group_option -->
                                                            <li><a class="<!-- IF group_option.IS_SPECIAL -->sep <!-- ENDIF -->group-recipient-option" href="javascript:;" data-group-id="{group_option.GROUP_ID}" data-recipient-type="bcc">{group_option.GROUP_NAME}</a></li>
                                                            <!-- END group_option -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ENDIF -->
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                    addRecipient = removeRecipient = null;
                    
                    $(function() {

                        $recipients_to_list = $('#recipients-to-list');
                        $recipients_bcc_list = $('#recipients-bcc-list');
                        
                        /* Add User Recipient
                         * -------------------------------------------------------------------------------- */
                        addUserRecipient = function addRecipient(name, type) {
                            
                            // Get the input selector used for this recipient add.
                            var $recipients_list  = (type == 'to') ? $recipients_to_list  : $recipients_bcc_list;
                            
                            // To prevent issues, attempt to remove the recipient first.
                            removeRecipient(name);
                                
                            // Add the DOM element.
                            $recipients_list.append(
                                '<li data-name="' + name + '">' + 
                                    name + ' ' +
                                    '<a href="javascript: removeRecipient(\'' + name + '\');"><span>X</span></a>' +
                                    '<input type="hidden" name="u_recipients_' + type + '[]" value="' + name + '" />' +
                                '</li>'
                            );
                            
                            // Since we've added someone, clear the input.
                            $recipients_list.siblings('.recipients-input').val('');
                        }
                        
                        /* Add Group Recipient
                         * -------------------------------------------------------------------------------- */
                        addGroupRecipient = function addRecipient(name, type, id) {
                            
                            // Get the input selector used for this recipient add.
                            var $recipients_list  = (type == 'to') ? $recipients_to_list  : $recipients_bcc_list;
                            
                            // To prevent issues, attempt to remove the recipient first.
                            removeRecipient(name);
                                
                            // Add the DOM element.
                            $recipients_list.append(
                                '<li class="group" data-name="' + name + '">' + 
                                    name + ' ' +
                                    '<a href="javascript: removeRecipient(\'' + name + '\');"><span>X</span></a>' +
                                    '<input type="hidden" name="g_recipients_' + type + '[]" value="' + id + '" />' +
                                '</li>'
                            );
                            
                            // Since we've added someone, clear the input.
                            $recipients_list.siblings('.recipients-input').val('');
                        }
                        
                        /* Remove Recipient - type (to/bcc) not reliably known, so account for both types.
                         * -------------------------------------------------------------------------------- */
                        removeRecipient = function removeRecipient(name) {

                            // Find the recipient via the data-name attr and simply remove it. Easy!
                            $('.recipients-list').children('[data-name="' + name + '"]').remove();
                        }
                        
                        /* Events
                         * -------------------------------------------------------------------------------- */
                        // Any click on a recipients container will focus its input.
                        $('.recipients-container').click(function() {
                        
                            $(this).find('.recipients-input').focus();
                        });
                        
                        // Disable enter key on recipients input from submitting form.
                        // When enter key is pressed, formally add the recipient.
                        $('.recipients-input').keypress(function(e) {
                        
                            if(e.which == 13) {
                                e.preventDefault();
                                addUserRecipient($(this).val(), $(this).data('recipient-type'));
                            }
                        });
                        
                        // Add groups as recipients from the dropdown menu clicks.
                        $('.group-recipient-option').click(function(e) {
                            
                            e.preventDefault();
                            addGroupRecipient($(this).text(), $(this).data('recipient-type'), $(this).data('group-id'));
                        });

                        // jQuery UI autocomplete menu functionality.
                        $('.recipients-input').autocomplete({
                        
                            // Dynamically read source for autocomplete via AJAX.
                            source: function(request, response) {
                                $.ajax({
                                    url: '{USERNAME_AUTOCOMPLETE_URL}',
                                    dataType: 'json',
                                    type: 'post',
                                    data: {
                                        username_prefix: request.term
                                    },
                                    success: function(data) {
                                        response($.map(data, function(item) {
                                            return { 
                                                label: item, 
                                                value: item,
                                            };
                                        }));
                                    }
                                })
                            },
                            
                            select: function(event, ui) {
                                addUserRecipient(ui.item.value, $(this).data('recipient-type'));
                                $(this).val(''); return false;
                            }
                        });
                        
                        <!-- BEGIN to_recipient -->
                            <!-- IF to_recipient.IS_GROUP -->
                            addGroupRecipient('{to_recipient.NAME}', 'to', {to_recipient.UG_ID});
                            <!-- ELSE -->
                            addUserRecipient('{to_recipient.NAME_PLAIN}', 'to');
                            <!-- ENDIF -->
                        <!-- END to_recipient -->
                        <!-- BEGIN bcc_recipient -->
                            <!-- IF to_recipient.IS_GROUP -->
                            addGroupRecipient('{bcc_recipient.NAME}', 'bcc', {bcc_recipient.UG_ID});
                            <!-- ELSE -->
                            addUserRecipient('{bcc_recipient.NAME_PLAIN}', 'bcc');
                            <!-- ENDIF -->
                        <!-- END bcc_recipient -->
                    });
                    </script>
                    <!-- ENDIF -->
                    <!-- ELSE -->
                    <div class="edit-block no-space">
                        <div class="edit-content">
                            <div class="field-row">
                                <dl>
                                    <dt><label for="username_list">{L_TO}:</label><!-- IF not S_EDIT_POST --><br /><span><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false">{L_FIND_USERNAME}</a></span><!-- ENDIF --></dt>
                                    <!-- IF .to_recipient -->
                                    <dd>
                                        <!-- BEGIN to_recipient -->
                                            <!-- IF not to_recipient.S_FIRST_ROW and to_recipient.S_ROW_COUNT mod 2 eq 0 --></dd><dd><!-- ENDIF -->
                                            <!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}"><strong>{to_recipient.NAME}</strong></a><!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
                                            <!-- IF not S_EDIT_POST --><input type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="x" class="button2" />&nbsp;<!-- ENDIF -->
                                        <!-- END to_recipient -->
                                    </dd>
                                    <!-- ENDIF -->

                                    <!-- IF not S_EDIT_POST -->
                                    <dd><input class="inputbox" type="text" name="username_list" id="username_list" size="20" value="" /> <input type="submit" name="add_to" value="{L_ADD}" class="button2" /></dd>
                                    <!-- ENDIF -->
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!-- ENDIF -->
                    <!-- IF S_POST_ACTION or S_PRIVMSGS or S_EDIT_DRAFT -->
                    <div class="edit-block no-space">
                        <div class="edit-content">
                            <div class="field-row">
                                <dl style="clear: left;" class="pm-composition-field">
                                    <dt><label for="subject">{L_SUBJECT}:</label></dt>
                                    <dd><input type="text" name="subject" id="subject" size="45" maxlength="<!-- IF S_NEW_MESSAGE -->60<!-- ELSE -->64<!-- ENDIF -->" tabindex="2" value="{SUBJECT}{DRAFT_SUBJECT}" class="inputbox autowidth" /></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!-- ENDIF -->
                <!-- ENDIF -->

                <div class="edit-block">
                    <div class="edit-content">
                        <!-- INCLUDE posting_editor.html -->
                    </div>
                </div>
            
                <!-- IF S_SHOW_ATTACH_BOX and FALSE -->
                <div class="edit-block">
                    <div class="edit-title"><h3>Post Attachments</h3></div>
                    <div class="edit-content">
                    <!-- INCLUDE posting_attach_body.html -->
                    </div>
                </div>
                <!-- ENDIF -->
                
                <!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->
                <!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->
                <!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
                <div class="edit-block">
                    <div class="edit-title"><h3>Extra Options</h3></div>
                    <div class="edit-content">
                        <ul class="toggle-list">
                            <!-- IF S_BBCODE_ALLOWED -->
                            <li>
                                <label for="disable_bbcode">{L_DISABLE_BBCODE}:</label></dt>
                                <input type="hidden" name="disable_bbcode" id="disable_bbcodeh" value="0" />
                                <input type="checkbox" name="disable_bbcode" id="disable_bbcode"<!-- IF S_BBCODE_CHECKED --> value="1" checked="checked"<!-- ENDIF --> />
                            </li>
                            <!-- ENDIF -->
                            <!-- IF S_SMILIES_ALLOWED -->
                            <li>
                                <label for="disable_smilies">{L_DISABLE_SMILIES}:</label></dt>
                                <input type="hidden" name="disable_smilies" id="disable_smiliesh" value="0" />
                                <input type="checkbox" name="disable_smilies" id="disable_smilies"<!-- IF S_SMILIES_CHECKED --> value="1" checked="checked"<!-- ENDIF --> />
                            </li>
                            <!-- ENDIF -->
                            <!-- IF S_LINKS_ALLOWED -->
                            <li>
                                <label for="disable_magic_url">{L_DISABLE_MAGIC_URL}:</label></dt>
                                <input type="hidden" name="disable_magic_url" id="disable_magic_urlh" value="0" />
                                <input type="checkbox" name="disable_magic_url" id="disable_magic_url"<!-- IF S_MAGIC_URL_CHECKED --> value="1" checked="checked"<!-- ENDIF --> />
                            </li>
                            <!-- ENDIF -->
                            <!-- IF S_SIG_ALLOWED -->
                            <li>
                                <label for="attach_sig">Attach a signature:</label></dt>
                                <input type="hidden" name="attach_sig" id="attach_sigh" value="0" />
                                <input type="checkbox" name="attach_sig" id="attach_sig"<!-- IF S_SIGNATURE_CHECKED --> value="1" checked="checked"<!-- ENDIF --> />
                            </li>
                            <!-- ENDIF -->
                            <!-- IF S_NOTIFY_ALLOWED -->
                            <li>
                                <label for="notify">{L_NOTIFY_REPLY}:</label></dt>
                                <input type="hidden" name="notify" id="notifyh" value="0" />
                                <input type="checkbox" name="notify" id="notify"<!-- IF S_NOTIFY_CHECKED --> value="1" checked="checked"<!-- ENDIF --> />
                            </li>
                            <!-- ENDIF -->
                        </ul>
                    </div>
                </div>
                <!-- ENDIF -->
                                
                {S_HIDDEN_FIELDS}
                {S_FORM_TOKEN}
                <div class="edit-block edit-block-controls">
                    <div class="edit-content">
                        <button class="button-generic" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}">Send Message</button>
                        <!-- IF S_SAVE_ALLOWED --><button class="button-generic" accesskey="k" tabindex="6" name="save" value="{L_SAVE_DRAFT}">Save Draft</button><!-- ENDIF -->
                        <!-- IF S_HAS_DRAFTS --><button class="button-generic" accesskey="d" tabindex="6" name="load" value="{L_LOAD_DRAFT}" onclick="load_draft = true;">Load Draft</button><!-- ENDIF -->
                        <button class="button-generic" tabindex="6" name="preview" value="{L_PREVIEW}">Preview</button>
                    </div>
                </div>
            </div>
        </section>
<!-- INCLUDE ucp_pm_footer.html -->