<!-- INCLUDE overall_header.html -->
<div class="eos-container group">
    <!-- IF S_COMPOSE_PM -->
    <form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
    <!-- ELSEIF not PROMPT -->
    <form id="viewfolder" method="post" action="{S_PM_ACTION}">
    <!-- ENDIF -->
    <div class="full-sidebar fix-scroll smaller">
        <aside>
            <div class="sidebar-item">
                <h2 class="sidebar-title">Private Messaging</h2>
                <p class="sidebar-subtext">Manage your private messages and compose new ones by using the navigation below and to the right.</p>
            </div>
            <div class="sidebar-item right-flush">
                <nav class="sidebar-nav">
                    <ul>
                        <!-- BEGIN folder -->
                        <!-- IF CUR_FOLDER_ID == folder.FOLDER_ID and not S_COMPOSE_PM -->
                        <li class="selected">
                        <!-- ELSE -->
                        <li>
                        <!-- ENDIF -->
                            <a href="{folder.U_FOLDER}">{folder.FOLDER_NAME}<!-- IF folder.UNREAD_MESSAGES > 0 --> ({folder.UNREAD_MESSAGES})<!-- ENDIF --></a>
                        </li>
                        <!-- END folder -->
                        <li class="spacer"></li>
                        <li<!-- IF S_COMPOSE_PM --> class="selected"<!-- ENDIF -->><a href="{U_POST_NEW_TOPIC}">Compose Message</a></li>
                        <li><a href="{DMMO_U_PM_DRAFTS}">Manage Drafts</a></li>
                        <li><a href="{DMMO_U_PM_OPTIONS}">Messaging Options</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <section>