<!-- INCLUDE overall_header.html -->
<div class="eos-container group">
    <form method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
    <div class="full-sidebar fix-scroll smaller">
        <aside>
            <div class="sidebar-item sidebar-item-header" style="display: none;">
                <h2 class="sidebar-title">Control Panel</h2>
                <p class="sidebar-subtext">The site is yours to customize.</p>
            </div>
            <div class="sidebar-item right-flush">
                <nav class="sidebar-nav mini">
                    <ul>
                        <li class="sidebar-nav-title">Your Profile</li>
                        <li><a href="{DMMO_U_USERCP_FRONT}" data-icon="&#xe006;">Overview</a></li>
                        <li><a href="{DMMO_U_USERCP_PROFILE_INFO}" data-icon="&#xe00c;">Edit Profile Details</a></li>
                        <li><a href="{DMMO_U_USERCP_SIGNATURE}" data-icon="&#xe00e;">Edit Signature</a></li>
                        <li><a href="{DMMO_U_USERCP_AVATAR}" data-icon="&#xe00a;">Edit Avatar</a></li>
                    </ul>
                    <ul>
                        <li class="sidebar-nav-title">Discussion Information</li>
                        <li><a href="{DMMO_U_USERCP_SUBSCRIPTIONS}" data-icon="&#xe008;">Manage Subscriptions</a></li>
                        <li><a href="{DMMO_U_USERCP_BOOKMARKS}" data-icon="&#xe007;">Manage Bookmarks</a></li>
                        <li><a href="{DMMO_U_USERCP_DRAFTS}" data-icon="&#xe013;">Manage Drafts</a></li>
                        <li><a href="{DMMO_U_USERCP_ATTACHMENTS}" data-icon="&#xe00e;">Manage Attachments</a></li>
                    </ul>
                    <ul>
                        <li class="sidebar-nav-title">Account Options</li>
                        <li><a href="{DMMO_U_USERCP_ACCOUNT_SETTINGS}" data-icon="&#xe00d;">Edit Account Settings</a></li>
                        <li><a href="{DMMO_U_USERCP_PREFS_PERSONAL}" data-icon="&#xe015;">Edit Global Settings</a></li>
                        <li><a href="{DMMO_U_USERCP_PREFS_POST}" data-icon="&#xe012;">Edit Posting Defaults</a></li>
                        <li><a href="{DMMO_U_USERCP_PREFS_DISPLAY}" data-icon="&#xe009;">Edit Display Options</a></li>
                        <li><a href="{DMMO_U_USERCP_FRIENDS}" data-icon="&#xe010;">Manage Friends</a></li>
                        <li><a href="{DMMO_U_USERCP_FOES}" data-icon="&#xe011;">Manage Foes</a></li>
                    </ul>
                    <ul>
                        <li class="sidebar-nav-title">Blog Options</li>
                        <li><a href="{DMMO_U_USERCP_BLOG_SETTINGS}" data-icon="&#xe00f;">Blog Settings</a></li>
                        <li><a href="{DMMO_U_USERCP_BLOG_META}" data-icon="&#xe004;">Blog Information</a></li>
                        <li><a href="{DMMO_U_USERCP_BLOG_PERMISSIONS}" data-icon="&#xe014;">Blog Permissions</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <section>