<!-- INCLUDE ucp_header.html -->
    <!-- IF ERROR -->
    <div class="usercp-component usercp-error">
        <p>{ERROR}</p>
    </div>
    <!-- ENDIF -->
    <div class="usercp-component group">
        <h3 class="usercp-component-title">Manage your friends to enable quick access to those you like most!</h3>
        <fieldset class="fields2">
        <section>
            <dl>
                <dt>
                    <label for="add">Add Friend:</label>
                    <span class="find-member">(<a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>)</span>
                </dt>
                <dd>
                    <input type="text" name="add" id="add">{USERNAMES}</input>
                    <input type="submit" name="submit" value="Add Friend"></input>
                </dd>
            </dl>
        </section>
        <section>
            <dl>
                <dt><label>{L_YOUR_FRIENDS}:</label></dt>
                <dd>
                    <!-- IF .username_options -->
                    <ul class="friend-blocks">
                        <!-- BEGIN username_options -->
                        <li class="friend-block">
                            <div class="avatar avatar-large">
                                <img src="{username_options.AVATAR}">
                            </div>
                            <a class="friend-remove" data-friend-id="{username_options.USER_ID}" data-tooltip="Remove friend"><span>X</span></a>
                            <p class="friend-username">{username_options.USERNAME}</p>
                        </li>
                        <!-- END username_options -->
                    </ul>
                    <!-- ELSE -->
                    <p class="error-generic vertical-spacing">{L_NO_FRIENDS}</p>
                    <!-- ENDIF -->
                </dd>
            </dl>
        </section>
        </fieldset>
        {S_HIDDEN_FIELDS}
        {S_FORM_TOKEN}
    </div>
    <script type="text/javascript">
    $(function() {
        $('.friend-block .friend-remove').click(function(e) {
            
            e.preventDefault();
            
            var user_id = $(this).data('friend-id');
            var $parent = $(this).parent('.friend-block');
            $.ajax({
                url: '{FRIENDS_REMOVE_AJAX_URL}',
                dataType: 'html',
                type: 'post',
                data: {
                    user_id_to_remove: user_id
                },
                success: function(data) {
                    dmmo.notifications.post(data);
                    $parent.css('display', 'none').blur();
                }
            })
        });
    
    });
    </script>
<!-- INCLUDE ucp_footer.html -->