<!-- INCLUDE ucp_pm_header.html -->
        <section>
            <!-- IF FOLDER_STATUS and FOLDER_MAX_MESSAGES neq 0 --><p class="sidebar-subtext"></p>
            <div class="folder-capacity-bar">
                <div class="folder-status">{FOLDER_STATUS}</div>
                <div class="capacity-bar"><div class="capacity-bar-fill" style="width: {FOLDER_PERCENT}%"></div></div>
            </div>
            <!-- ENDIF -->
            <div class="ui-utilitybar-actions-container">
                <div class="ui-utilitybar-actions">
                    <a class="utility-action-button button-generic" href="{U_POST_NEW_TOPIC}">Compose Message</a>
                    <!-- IF PAGINATION -->
                    <div class="utility-pagination">
                        {PAGINATION}
                        <a class="pagination-jump" href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}" data-tooltip="{L_JUMP_TO_PAGE}" data-icon="&#xe01d;"></a>
                    </div>
                    <!-- ENDIF -->
                    {S_HIDDEN_FIELDS}
                    {S_FORM_TOKEN}                    
                </div>
            </div>
            <!-- IF NUM_REMOVED -->
            <div class="usercp-component usercp-notice">
                <p>{RULE_REMOVED_MESSAGES}</p>
            </div>
            <!-- ENDIF -->
            <!-- IF NUM_NOT_MOVED -->
            <div class="usercp-component usercp-notice">
                <p>{NOT_MOVED_MESSAGES}<br />{RELEASE_MESSAGE_INFO}</p>
            </div>
            <!-- ENDIF -->
<!-- IF PROMPT -->
            <div class="usercp-component">
                <h2>{L_EXPORT_AS_CSV}</h2>
                <form id="viewfolder" method="post" action="{S_PM_ACTION}">
                <div class="panel">
                    <div class="inner"><span class="corners-top"><span></span></span>
                    <h3>{L_OPTIONS}</h3>
                    <fieldset>
                        <dl>
                            <dt><label for="delimiter">{L_DELIMITER}:</label></dt>
                            <dd><input class="inputbox" type="text" id="delimiter" name="delimiter" value="," /></dd>
                        </dl>
                        <dl>
                            <dt><label for="enclosure">{L_ENCLOSURE}:</label></dt>
                            <dd><input class="inputbox" type="text" id="enclosure" name="enclosure" value="&#034;" /></dd>
                        </dl>
                    </fieldset>
                    <span class="corners-bottom"><span></span></span></div>
                </div>
                <fieldset class="submit-buttons">
                    <input type="hidden" name="export_option" value="CSV" />
                    <input class="button1" type="submit" name="submit_export" value="{L_EXPORT_FOLDER}" />&nbsp;
                    <input class="button2" type="reset" value="Reset" name="reset" />&nbsp;
                    {S_FORM_TOKEN}
                </fieldset>
                </form>
            </div>
<!-- ELSE -->
            <!-- IF .messagerow -->
            <div class="discussions-list forum-section-content usercp-component-plain">
                <table class="no-top-border">
                    <!-- BEGIN messagerow -->
                    <tr class="discussions-list-row">
                        <td class="discussion-avatar" data-tooltip="Message from {messagerow.MESSAGE_AUTHOR}."><a class="avatar" href="{messagerow.MESSAGE_AUTHOR_LINK}"><img src="{messagerow.MESSAGE_AUTHOR_AVATAR_URL}" /></a></td>
                        <td class="discussion-subject">
                            <!-- IF messagerow.S_PM_DELETED -->
                            <a href="{messagerow.U_REMOVE_PM}" class="topic-title">{L_DELETE_MESSAGE}</a>
                            <span class="message-info">from {L_MESSAGE_REMOVED_FROM_OUTBOX}</span>
                            <!-- ELSE -->
                            <a href="{messagerow.U_VIEW_PM}" class="topic-title"><!-- IF messagerow.S_PM_UNREAD --><b><!-- ENDIF -->{messagerow.SUBJECT}<!-- IF messagerow.S_PM_UNREAD --><b><!-- ENDIF --></a>
                            <!-- IF messagerow.S_AUTHOR_DELETED -->
                            <span class="message-info">{L_PM_FROM_REMOVED_AUTHOR}</span>
                            <!-- ELSE -->
                            <span class="message-info">from {messagerow.MESSAGE_AUTHOR_FULL}</span>
                            <!-- ENDIF -->
                            <!-- ENDIF -->
                        </td>
                        <td class="discussion-fancy-time" data-tooltip="{messagerow.SENT_TIME}">{messagerow.SENT_TIME_REL}</td>
                        <td class="discussion-mark">
                            <label for="message_{messagerow.MESSAGE_ID}"><input id="message_{messagerow.MESSAGE_ID}" type="checkbox" name="marked_msg_id[]" value="{messagerow.MESSAGE_ID}" /></label>
                        </td>
                    </tr>
                    <!-- END messagerow -->
                </table>
            </div>
            <!-- ELSE -->
            <div class="usercp-component usercp-notice">
                <!-- IF S_COMPOSE_PM_VIEW and S_NO_AUTH_SEND_MESSAGE -->
                    <p class="error-generic"><!-- IF S_USER_NEW -->{L_USER_NEW_PERMISSION_DISALLOWED}<!-- ELSE -->{L_NO_AUTH_SEND_MESSAGE}<!-- ENDIF --></p>
                <!-- ELSE -->
                    <p class="error-generic">This folder does not presently have any messages to view.</p>
                <!-- ENDIF -->
            </div>
            <!-- ENDIF -->
            <!-- IF FOLDER_CUR_MESSAGES neq 0 -->
            <div class="usercp-component usercp-controls group">
                <section>
                    <dl class="auto has-action-button">
                        <dt><label for="export_option">{L_EXPORT_FOLDER}</label></dt>
                        <dd>
                            <select name="export_option" id="export_option"><option value="CSV">{L_EXPORT_AS_CSV}</option><option value="CSV_EXCEL">{L_EXPORT_AS_CSV_EXCEL}</option><option value="XML">{L_EXPORT_AS_XML}</option></select>
                            <input class="button-generic" type="submit" name="submit_export" value="{L_GO}" />
                        </dd>
                </section>
                <section>
                    <dl class="auto has-action-button">
                        <dt><label name="mark_option">Actions</label></dt>
                        <dd>
                            <select name="mark_option">{S_MARK_OPTIONS}{S_MOVE_MARKED_OPTIONS}</select>
                            <input class="button-generic" type="submit" name="submit_mark" value="{L_GO}" />
                        </dd>
                    </dl>
                </section>
                <a href="#" onclick="marklist('viewfolder', 'marked_msg', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('viewfolder', 'marked_msg', false); return false;">{L_UNMARK_ALL}</a>
            </div>
            <div class="usercp-component group">
                <section class="columns">
                    <!-- IF PREVIOUS_PAGE and false --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
                    <!-- IF NEXT_PAGE and false --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
                    <dl class="auto">
                        <dt><label for="st">{L_DISPLAY}:</label></dt>
                        <dd>{S_SELECT_SORT_DAYS}</dd>
                    </dl>
                    <dl class="auto has-action-button">
                        <dt><label for="sk">{L_SORT_BY}</label></dt>
                        <dd>{S_SELECT_SORT_KEY}{S_SELECT_SORT_DIR}<input type="submit" name="sort" value="{L_GO}" class="button-generic" /></dd>
                    </dl>
                    <input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
                </section>
            </div>
            <!-- ENDIF -->
        <!-- ENDIF -->
        </section>
<!-- INCLUDE ucp_pm_footer.html -->