<!-- INCLUDE ucp_pm_header.html -->
		<section>
			<div class="forum-section-pre group">
	            <div class="discussion-info">
	                <h2 class="discussion-title">{SUBJECT}</h2>
	                <p class="discussion-details">
	                	<strong>{L_SENT_AT}:</strong> <span data-tooltip="{SENT_DATE}">{SENT_DATE_REL}</span><br>
	                	<strong>{L_PM_FROM}:</strong> {MESSAGE_AUTHOR_FULL}
		                <!-- IF S_TO_RECIPIENT -->,&nbsp;<strong>{L_TO}:</strong><!-- BEGIN to_recipient -->&nbsp;<!-- IF to_recipient.NAME_FULL -->{to_recipient.NAME_FULL}<!-- ELSE --><a href="{to_recipient.U_VIEW}" style="color:<!-- IF to_recipient.COLOUR -->{to_recipient.COLOUR}<!-- ELSEIF to_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{to_recipient.NAME}</a><!-- ENDIF --><!-- END to_recipient --><!-- ENDIF -->
						<!-- IF S_BCC_RECIPIENT -->,&nbsp;<strong>{L_BCC}:</strong><!-- BEGIN bcc_recipient -->&nbsp;<!-- IF bcc_recipient.NAME_FULL -->{bcc_recipient.NAME_FULL}<!-- ELSE --><a href="{bcc_recipient.U_VIEW}" style="color:<!-- IF bcc_recipient.COLOUR -->{bcc_recipient.COLOUR}<!-- ELSEIF bcc_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{bcc_recipient.NAME}</a><!-- ENDIF --><!-- END bcc_recipient --><!-- ENDIF -->
	                	
					</p>
	            </div>
	            <div id="dmt1" class="discussions-mode-toggle">
	                <ul>
	                    <li class="compact-mode clickable" data-tooltip="Displays posts in the most straightforward and compact way possible. Some features are lost as a result. This is the default.">Compact Mode</li>
	                    <li class="detailed-mode clickable" data-tooltip="All features are present. However, some users may find this non-default view overwhelming.">Detailed Mode</li>
	                </ul>
	            </div>
	        </div>
			<div class="ui-utilitybar-actions-container">
                <div class="ui-utilitybar-actions">
                    <!-- IF U_POST_REPLY_PM or U_FORWARD_PM -->
                        <!-- IF U_POST_REPLY_PM --><a class="utility-action-button button-generic" title="{L_POST_REPLY_PM}" href="{U_POST_REPLY_PM}">Reply</a><!-- ENDIF -->
                        <!-- IF U_FORWARD_PM --><a class="utility-action-button button-generic" title="{L_POST_FORWARD_PM}" href="{U_FORWARD_PM}">Forward</a><!-- ENDIF -->
                        <!-- IF U_POST_REPLY_PM and S_PM_RECIPIENTS gt 1 -->
                            <a class="utility-action-button button-generic" title="{L_REPLY_TO_ALL}" href="{U_POST_REPLY_ALL}">Reply All</a>
                        <!-- ENDIF -->
                    <!-- ENDIF -->
                    <!-- IF U_QUOTE --><a class="utility-action-button button-generic" href="{U_QUOTE}" title="{L_POST_QUOTE_PM}">Quote</a><!-- ENDIF -->
                    <!-- IF U_EDIT --><a class="utility-action-button button-generic" href="{U_EDIT}" title="{L_POST_EDIT_PM}">Edit</a><!-- ENDIF -->
                    <!-- IF U_DELETE --><a class="utility-action-button button-generic" href="{U_DELETE}" title="{L_DELETE_MESSAGE}">Delete</a><!-- ENDIF -->
                    <!-- IF U_REPORT --><a class="utility-action-button button-generic" href="{U_REPORT}" title="{L_REPORT_PM}">Report</a><!-- ENDIF -->
                    {S_HIDDEN_FIELDS}
                    {S_FORM_TOKEN}                    
                </div>
            </div>

			<!-- IF S_DISPLAY_HISTORY and (U_VIEW_PREVIOUS_HISTORY or U_VIEW_NEXT_HISTORY) -->
			<fieldset class="display-options clearfix bg1 pm-message-nav">
				<!-- IF U_VIEW_PREVIOUS_HISTORY --><a href="{U_VIEW_PREVIOUS_HISTORY}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_VIEW_PREVIOUS_HISTORY}</a><!-- ENDIF -->
				<!-- IF U_VIEW_NEXT_HISTORY --><a href="{U_VIEW_NEXT_HISTORY}" class="right-box {S_CONTENT_FLOW_END}">{L_VIEW_NEXT_HISTORY}</a><!-- ENDIF -->
			</fieldset>
			<!-- ENDIF -->

			<div class="posts-list forum-section-content compact">
	            <ul class="post-blocks">
	                <li id="post-{MESSAGE_ID}" class="post-block priveleged<!-- IF S_POST_UNAPPROVED or S_POST_REPORTED --> reported<!-- ENDIF --><!-- IF S_ONLINE --> online<!-- ENDIF -->">
	                    <div class="post-profile">
	                        <a class="avatar avatar-large" href="{U_MESSAGE_AUTHOR}">{AUTHOR_AVATAR}</a>
	                        <div class="user-info">
	                            <div class="username">
	                                {MESSAGE_AUTHOR_FULL}
	                                <!-- IF not S_IS_BOT -->
	                                <!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM or U_JABBER -->
	                                <div class="user-menu menu-1">
	                                    <ul class="profile-icons">
	                                        <li><a href="{U_PROFILE}">{L_READ_PROFILE}</a></li>
	                                        <!-- IF U_PM --><li class="pm-icon"><a href="{U_PM}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
	                                        <!-- IF U_EMAIL --><li class="email-icon"><a href="{U_EMAIL}"><span>{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}</span></a></li><!-- ENDIF -->
	                                        <!-- IF U_WWW --><li class="web-icon"><a href="{U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
	                                        <!-- IF U_MSN --><li class="msnm-icon"><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
	                                        <!-- IF U_ICQ --><li class="icq-icon"><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
	                                        <!-- IF U_YIM --><li class="yahoo-icon"><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;"><span>{L_YIM}</span></a></li><!-- ENDIF -->
	                                        <!-- IF U_AIM --><li class="aim-icon"><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;"><span>{L_AIM}</span></a></li><!-- ENDIF -->
	                                        <!-- IF U_JABBER --><li class="jabber-icon"><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
	                                    </ul>
	                                </div>
	                                <!-- ENDIF -->
	                                <!-- ENDIF -->
	                            </div>
	                            <p class="status">{RANK_TITLE}</p>
	                            <div class="post-count" data-tooltip="{MESSAGE_AUTHOR} has {AUTHOR_POSTS} posts.">{AUTHOR_POSTS}</div>
	                            <div class="credits-count" data-tooltip="{MESSAGE_AUTHOR} has earned 2000 credits.">2000</div>
	                        </div>
	                    </div>
	                    <div class="post-content">
	                        <div class="post-stamp">
	                            <div class="post-date" data-tooltip="{SENT_DATE}">{SENT_DATE_REL}</div>
	                        </div>
	                        <div class="post-message">
	                            <div class="content">{MESSAGE}</div>

								<!-- IF S_HAS_ATTACHMENTS -->
								<dl class="attachbox">
									<dt>{L_ATTACHMENTS}</dt>
									<!-- BEGIN attachment -->
									<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
									<!-- END attachment -->
								</dl>
								<!-- ENDIF -->

								<!-- IF S_DISPLAY_NOTICE -->
									<div class="rules">{L_DOWNLOAD_NOTICE}</div>
								<!-- ENDIF -->

								<!-- IF EDITED_MESSAGE or EDIT_REASON -->
								<div class="notice">{EDITED_MESSAGE}
									<!-- IF EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{EDIT_REASON}</em><!-- ENDIF -->
								</div>
								<!-- ENDIF -->
	                            <!-- IF SIGNATURE --><div id="sig{MESSAGE_ID}" class="signature">{SIGNATURE}</div><!-- ENDIF -->
	                        </div>
	                        <!-- IF not S_IS_BOT -->
	                            <div class="post-controls group"></div>
	                        <!-- ENDIF -->
	                    </div>
	                </li>
	            </ul>
	        </div>

			<div class="back2top"><a href="#top" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

			<!-- IF S_VIEW_MESSAGE -->
			<fieldset class="display-options">
				<!-- IF U_PREVIOUS_PM --><a href="{U_PREVIOUS_PM}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_VIEW_PREVIOUS_PM}</a><!-- ENDIF -->
				<!-- IF U_NEXT_PM --><a href="{U_NEXT_PM}" class="right-box {S_CONTENT_FLOW_END}">{L_VIEW_NEXT_PM}</a><!-- ENDIF -->

				<!-- IF S_MARK_OPTIONS --><label for="mark_option"><select name="mark_option" id="mark_option">{S_MARK_OPTIONS}</select></label>&nbsp;<input class="button2" type="submit" name="submit_mark" value="{L_GO}" /><!-- ENDIF -->
				<!-- IF not S_UNREAD and not S_SPECIAL_FOLDER --><label for="dest_folder"><!-- IF S_VIEW_MESSAGE -->{L_MOVE_TO_FOLDER}: <!-- ELSE -->{L_MOVE_MARKED_TO_FOLDER}<!-- ENDIF --> <select name="dest_folder" id="dest_folder">{S_TO_FOLDER_OPTIONS}</select></label> <input class="button2" type="submit" name="move_pm" value="{L_GO}" /><!-- ENDIF -->
				<input type="hidden" name="marked_msg_id[]" value="{MSG_ID}" />
				<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
				<input type="hidden" name="p" value="{MSG_ID}" />
			</fieldset>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->
		</section>
<!-- INCLUDE ucp_pm_footer.html -->