<h3>{L_MESSAGE_HISTORY}</h3>
<div class="posts-list forum-section-content compact">
    <ul class="post-blocks">
		<!-- BEGIN history_row -->
		<li id="pr{history_row.MSG_ID}" class="post-block priveleged">
            <div class="post-profile">
                <a class="avatar avatar-large" href="{U_MESSAGE_AUTHOR}">{history_row.MESSAGE_AUTHOR_AVATAR}</a>
                <div class="user-info">
                    <div class="username">
                        {history_row.MESSAGE_AUTHOR_FULL}
                    </div>
                    <p class="status">{history_row.RANK_TITLE}</p>
                </div>
            </div>
            <div class="post-content">
                <div class="post-stamp">
                    <div class="post-date" data-tooltip="{history_row.SENT_DATE}">{history_row.SENT_DATE}</div>
                </div>
                <div class="post-message">
                    <div id="message_{history_row.MSG_ID}" class="content">{history_row.MESSAGE}{history_row.DECODED_MESSAGE}</div>
                </div>
                <!-- IF not S_IS_BOT -->
                <div class="post-controls group">
					<!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE -->
                	<a <!-- IF history_row.U_QUOTE -->href="{history_row.U_QUOTE}"<!-- ELSE -->href="#postingbox" onclick="addquote({history_row.MSG_ID}, '{history_row.MESSAGE_AUTHOR_QUOTE}', '{LA_WROTE}');"<!-- ENDIF --> title="{L_QUOTE} {history_row.MESSAGE_AUTHOR}"><span>{L_QUOTE} {history_row.MESSAGE_AUTHOR}</span></a>
					<!-- ENDIF -->
                </div>
                <!-- ENDIF -->
            </div>
        </li>
        <!-- END history_row -->
    </ul>
</div>