<!-- INCLUDE ucp_header.html -->

        <!--  <div class="usercp-component group">
            <div class="overview-user group">
                <div class="overview-avatar avatar avatar-large">{DMMO_AVATAR}</div>
                <h3 class="overview-username">{DMMO_USERNAME}</h3>
            </div>
        </div> -->
        <div class="usercp-component">
            <ul class="overview-links group">
                <li class="overview-link overview-link-profile">
                    <a href="{DMMO_U_USERCP_PROFILE_INFO}">
                        <div class="link-icon" data-icon="&#xe00c;"></div>
                        <em>Edit Profile Details</em>
                    </a>
                </li>
                <li class="overview-link overview-link-signature">
                    <a href="{DMMO_U_USERCP_SIGNATURE}">
                        <div class="link-icon" data-icon="&#xe00e;"></div>
                        <em>Edit Signature</em>
                    </a>
                </li>
                <li class="overview-link overview-link-avatar">
                    <a href="{DMMO_U_USERCP_AVATAR}">
                        <div class="link-icon" data-icon="&#xe00a;"></div>
                        <em>Edit Avatar</em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="usercp-component">
            <div class="overview-stats group">
                <ul>
                    <!-- IF S_DISPLAY_SEARCH -->
                    <li><a href="{U_SEARCH_USER}"><em>{L_TOTAL_POSTS}</em>{POSTS}</a></li>
                    <!-- ELSE -->
                    <li><em>{L_TOTAL_POSTS}</em>{POSTS}</li>
                    <!-- ENDIF -->
                    <!-- IF POSTS_PCT -->
                    <li><em>Posts Per Day</em>{POSTS_DAY}</li>
                    <li><em>% Of All Posts</em>{POSTS_PCT}</li>
                    <!-- ENDIF -->
                    <li><em>{L_JOINED} On</em>{JOINED}</li>
                    <li><em>{L_VISITED}</em>{LAST_VISIT_YOU}</li>
                    <!-- IF ACTIVE_TOPIC -->
                    <li data-tooltip="{ACTIVE_TOPIC_POSTS}, or {ACTIVE_TOPIC_PCT}."><a href="{U_ACTIVE_TOPIC}"><em>{L_ACTIVE_IN_TOPIC}</em>{ACTIVE_TOPIC}</a></li>
                    <!-- ENDIF -->
                </ul>
            </div>
        </div>
        <!-- IF .friends_online or .friends_offline -->
        <div class="usercp-component group">
            <h3>Online Friends <a href="{DMMO_U_USERCP_FRIENDS}" data-tooltip="Friends are nice!">(manage)</a></h3>
            <!-- IF .friends_online -->
            <dl>
                <dd>
                    <ul class="friend-blocks">
                        <!-- BEGIN friends_online -->
                        <li class="friend-block">
                            <div class="avatar avatar-large">
                                <a class="friend-message" href="{friends_online.U_PM}"><span>Message</span></a>
                                <img height="{friends_online.AVATAR_HEIGHT}" width="{friends_online.AVATAR_WIDTH}" src="{friends_online.AVATAR_PATH}">
                            </div>
                            <p class="friend-username">{friends_online.USERNAME_FULL}</p>
                        </li>
                        <!-- END friends_online -->
                    </ul>
                </dd>
            </dl>
            <!-- ELSE -->
            <p class="error-generic vertical-spacing">You do not have any friends online at this time.</p>
            <!-- ENDIF -->
        </div>
        <!-- ENDIF -->
    
<!-- INCLUDE ucp_footer.html -->