<!-- INCLUDE overall_header.html -->
    <form method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
    <div class="eos-container ui-content-section ui-navigated-content">
        <div class="ui-content-top">
            <div class="content-info">
                <h2>Your Control Panel</h2>
                <p>Customize the website to your heart's content.</p>
            </div>
        </div>
        <div class="ui-utilitybar-container">
            <nav class="ui-utilitybar-nav group">
                <dl class="nav-section">
                    <dt class="nav-section-title">Overview</dt>
                    <dd class="nav-section-items">
                        <ul>
                            <li><a href="{DMMO_U_USERCP_FRONT}" data-icon="&#xe006;">Overview</a></li>
                            <li><a href="{DMMO_U_USERCP_SUBSCRIPTIONS}" data-icon="&#xe008;">Manage Subscriptions</a></li>
                            <li><a href="{DMMO_U_USERCP_BOOKMARKS}" data-icon="&#xe007;">Manage Bookmarks</a></li>
                        </ul>
                        <ul>
                            <li><a href="{DMMO_U_USERCP_DRAFTS}" data-icon="&#xe013;">Manage Drafts</a></li>
                            <li><a href="{DMMO_U_USERCP_ATTACHMENTS}" data-icon="&#xe00e;">Manage Attachments</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="nav-section">
                    <dt class="nav-section-title">Profile</dt>
                    <dd class="nav-section-items">
                        <ul>
                            <li><a href="{DMMO_U_USERCP_PROFILE_INFO}" data-icon="&#xe00c;">Edit Profile</a></li>
                            <li><a href="{DMMO_U_USERCP_SIGNATURE}" data-icon="&#xe00b;">Edit Signature</a></li>
                            <li><a href="{DMMO_U_USERCP_AVATAR}" data-icon="&#xe00a;">Edit Avatar</a></li>
                            <li><a href="{DMMO_U_USERCP_ACCOUNT_SETTINGS}" data-icon="&#xe00d;">Edit Account Settings</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="nav-section">
                    <dt class="nav-section-title">Board Preferences</dt>
                    <dd class="nav-section-items">
                        <ul>
                            <li><a href="{DMMO_U_USERCP_PREFS_PERSONAL}" data-icon="&#xe015;">Edit Global Settings</a></li>
                            <li><a href="{DMMO_U_USERCP_PREFS_POST}" data-icon="&#xe012;">Edit Posting Defaults</a></li>
                            <li><a href="{DMMO_U_USERCP_PREFS_DISPLAY}" data-icon="&#xe009;">Edit Display Options</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="nav-section">
                    <dt class="nav-section-title">Friends & Foes</dt>
                    <dd class="nav-section-items">
                        <ul>
                            <li><a href="{DMMO_U_USERCP_FRIENDS}" data-icon="&#xe010;">Manage Friends</a></li>
                            <li><a href="{DMMO_U_USERCP_FOES}" data-icon="&#xe011;">Manage Foes</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="nav-section">
                    <dt class="nav-section-title">Blog</dt>
                    <dd class="nav-section-items">
                        <ul>
                            <li><a href="{DMMO_U_USERCP_BLOG_SETTINGS}" data-icon="&#xe00f;">Blog Settings</a></li>
                            <li><a href="{DMMO_U_USERCP_BLOG_META}" data-icon="&#xe004;">Blog Information</a></li>
                            <li><a href="{DMMO_U_USERCP_BLOG_PERMISSIONS}" data-icon="&#xe014;">Blog Permissions</a></li>
                        </ul>
                    </dd>
                </dl>
            </nav>