<!-- INCLUDE overall_header.html -->
<div class="eos-container group">
    <section class="forum-section">
        <div class="forum-section-pre group">
            <div class="discussion-info">
                <h2 class="discussion-title">{DMMO_TOPIC_TITLE}</h2>
                <!-- INCLUDE breadcrumb.html -->
            </div>
            <div id="dmt1" class="discussions-mode-toggle">
                <ul>
                    <li class="compact-mode clickable" data-tooltip="Displays posts in the most straightforward and compact way possible. Some features are lost as a result. This is the default.">Compact Mode</li>
                    <li class="detailed-mode clickable" data-tooltip="All features are present. However, some users may find this non-default view overwhelming.">Detailed Mode</li>
                </ul>
            </div>
        </div>
        <div class="ui-utilitybar-container">
            <div class="ui-utilitybar-actions-container">
                <div class="ui-utilitybar-actions">
                    <a class="button-generic minimizable" href="<!-- IF S_QUICK_REPLY -->#pquickreply<!-- ELSE -->{U_POST_REPLY_TOPIC}<!-- ENDIF -->">Post Reply</a>
                    <!-- IF S_DISPLAY_SEARCHBOX -->
                    <div class="utility-search">
                        <form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}">
                        <fieldset>
                            <input class="search-generic" type="text" name="keywords" id="search_keywords" size="20" value=""/>
                            {S_SEARCH_LOCAL_HIDDEN_FIELDS}
                        </fieldset>
                        </form>
                    </div>
                    <!-- ENDIF -->
                    <div class="utility-pagination">
                        {PAGINATION}
                    </div>
                </div>
            </div>
        </div>
        <div class="posts-list forum-section-content compact">
            <ul class="post-blocks">
                <!-- BEGIN postrow -->
                <li id="p{postrow.POST_ID}" class="post-block<!-- IF postrow.S_IS_STAFF and not postrow.S_DELETED --> staff privileged<!-- ENDIF --><!-- IF postrow.S_DELETED --> deleted<!-- ENDIF --><!-- IF postrow.POST_NUMBER == 1 --> privileged<!-- ENDIF -->">
                    <!-- IF postrow.S_DELETED -->
                    <div class="post-profile">
                        <div class="user-info">
                            <div class="username">
                                {postrow.POST_AUTHOR_FULL}
                                <!-- IF not S_IS_BOT -->
                                <!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM or postrow.U_JABBER -->
                                <div class="user-menu menu-1">
                                    <ul class="profile-icons">
                                        <li><a href="{postrow.U_PROFILE}">{L_READ_PROFILE}</a></li>
                                        <!-- IF postrow.U_PM --><li class="pm-icon"><a href="{postrow.U_PM}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_EMAIL --><li class="email-icon"><a href="{postrow.U_EMAIL}"><span>{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_WWW --><li class="web-icon"><a href="{postrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_MSN --><li class="msnm-icon"><a href="{postrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_ICQ --><li class="icq-icon"><a href="{postrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_YIM --><li class="yahoo-icon"><a href="{postrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;"><span>{L_YIM}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_AIM --><li class="aim-icon"><a href="{postrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;"><span>{L_AIM}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_JABBER --><li class="jabber-icon"><a href="{postrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
                                    </ul>
                                </div>
                                <!-- ENDIF -->
                                <!-- ENDIF -->
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-message">
                            {postrow.MESSAGE}
                            <!-- Missing tags provided by prime_deleted_msg template. -->
                    </div>
                    <!-- ELSE -->
                    <div class="post-profile">
                        <a class="avatar avatar-large" href="{postrow.U_POST_AUTHOR}">{postrow.POSTER_AVATAR}</a>
                        <div class="user-info">
                            <div class="username">
                                {postrow.POST_AUTHOR_FULL}
                                <!-- IF not S_IS_BOT -->
                                <!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM or postrow.U_JABBER -->
                                <div class="user-menu menu-1">
                                    <ul class="profile-icons">
                                        <li><a href="{postrow.U_PROFILE}">{L_READ_PROFILE}</a></li>
                                        <!-- IF postrow.U_PM --><li class="pm-icon"><a href="{postrow.U_PM}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_EMAIL --><li class="email-icon"><a href="{postrow.U_EMAIL}"><span>{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_WWW --><li class="web-icon"><a href="{postrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_MSN --><li class="msnm-icon"><a href="{postrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_ICQ --><li class="icq-icon"><a href="{postrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_YIM --><li class="yahoo-icon"><a href="{postrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;"><span>{L_YIM}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_AIM --><li class="aim-icon"><a href="{postrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;"><span>{L_AIM}</span></a></li><!-- ENDIF -->
                                        <!-- IF postrow.U_JABBER --><li class="jabber-icon"><a href="{postrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
                                    </ul>
                                </div>
                                <!-- ENDIF -->
                                <!-- ENDIF -->
                            </div>
                            <p class="status">Member</p>
                            <!-- IF postrow.POSTER_POSTS != '' --><div class="post-count" data-tooltip="{postrow.POST_AUTHOR} has {postrow.POSTER_POSTS} posts.">{postrow.POSTER_POSTS}</div><!-- ENDIF -->
                            <div class="credits-count" data-tooltip="{postrow.POST_AUTHOR} has earned 2000 credits.">2000</div>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-stamp">
                            <a class="post-count" href="#p{postrow.POST_ID}">#{postrow.POST_NUMBER}</a>
                            <div class="post-date" data-tooltip="{postrow.POST_DATE}">{postrow.POST_DATE_REL}</div>
                            <!-- IF postrow.S_IS_STAFF --><div class="post-staff-label" data-tooltip="This user is a DisneyMMO staff member, and can be trusted as a figure of authority.">staff</div><!-- ENDIF -->
                        </div>
                        <div class="post-message">
                            {postrow.MESSAGE}
                            <!-- IF postrow.SIGNATURE --><div id="sig{postrow.POST_ID}" class="signature">{postrow.SIGNATURE}</div><!-- ENDIF -->
                        </div>
                        <!-- IF not S_IS_BOT -->
                            <div class="post-controls group">
                            <!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
                                <!-- IF postrow.U_DELETE or postrow.U_WARN or postrow.U_INFO -->
                                <div class="post-control post-control-expander mod">
                                    <a class="post-control-expander-label" href="javascript:;">Moderate</a>
                                    <span class="post-control-expansion">
                                    <!-- IF postrow.U_DELETE --><a class="delete" href="{postrow.U_DELETE}" title="{L_DELETE_POST}">Delete</a><!-- ENDIF -->
                                    <!-- IF postrow.U_WARN --><a class="warn" href="{postrow.U_WARN}" title="{L_WARN_USER}">Warn</a><!-- ENDIF -->
                                    <!-- IF postrow.U_INFO --><a class="info" href="{postrow.U_INFO}" title="{L_INFORMATION}">Info</a><!-- ENDIF -->
                                    </span>
                                </div>
                                <!-- ENDIF -->
                                <!-- IF postrow.U_REPORT --><a class="post-control post-control-button report" href="{postrow.U_REPORT}" title="{L_REPORT_POST}">Report</a><!-- ENDIF -->
                                <!-- IF postrow.U_QUOTE --><a class="post-control post-control-button quote" href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}">Quote</a><!-- ENDIF -->
                                <!-- IF postrow.U_EDIT --><a class="post-control post-control-button edit" href="{postrow.U_EDIT}" title="{L_EDIT_POST}">Edit</a><!-- ENDIF -->
                            <!-- ELSE -->
                            <span class="login-to-reply"><a href="http://disneymmo.com/login">Login</a> to reply.</span>
                            <!-- ENDIF -->
                        </div>
                        <!-- ENDIF -->
                    </div>                    
                    <!-- ENDIF -->
                </li>
                <!-- END postrow -->
                <li id="pquickreply" class="post-block reply">
                <!-- IF S_QUICK_REPLY -->
                    <!-- INCLUDE quickreply_editor.html -->
                <!-- ELSE -->
                    <div class="login-to-post">
                        <p class="action-reward">This discussion needs your opinion.</p>
                        <p class="call-to-action"><a href="{U_REGISTER}">Create An Account</a> or <a href="{U_LOGIN_LOGOUT}">Sign In</a></p>
                    </div>
                <!-- ENDIF -->
                </li>
            </ul>
        </div>
        <div class="forum-section-post group">
            <!-- IF S_TOPIC_MOD -->
            <div class="phpbb-quickmod-container">
                <form method="post" action="{S_MOD_ACTION}">
                <fieldset class="quickmod">
                    {S_TOPIC_MOD}
                    {S_FORM_TOKEN}
                    <script type="text/javascript">
                        $('.quickmod select').change(function() {
                            $(this).closest('form').submit();
                        });
                    </script>
                </fieldset>
                </form>
            </div>
            <!-- ENDIF -->
        </div>
    </section>
</div>

<!-- IF S_TOPIC_DELETED -->
	<div id="p0" class="post bg2 deleted_topic">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="postbody">
			<h3 class="first">{L_PRIME_TOPIC_DELETED_MSG}</h3>
			<div class="ignore">
				{DELETED_MSG}
			</div>
		</div>
		<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
<!-- IF S_HAS_POLL -->
	<form method="post" action="{S_POLL_ACTION}">

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h2>{POLL_QUESTION}</h2>
			<p class="author">{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ENDIF --></p>

			<fieldset class="polls">
			<!-- BEGIN poll_option -->
				<dl class="<!-- IF poll_option.POLL_OPTION_VOTED -->voted<!-- ENDIF -->"<!-- IF poll_option.POLL_OPTION_VOTED --> title="{L_POLL_VOTED_OPTION}"<!-- ENDIF -->>
					<dt><!-- IF S_CAN_VOTE --><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label><!-- ELSE -->{poll_option.POLL_OPTION_CAPTION}<!-- ENDIF --></dt>
					<!-- IF S_CAN_VOTE --><dd style="width: auto;"><!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd><!-- ENDIF -->
					<!-- IF S_DISPLAY_RESULTS --><dd class="resultbar"><div class="<!-- IF poll_option.POLL_OPTION_PCT < 20 -->pollbar1<!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 -->pollbar2<!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 -->pollbar3<!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 -->pollbar4<!-- ELSE -->pollbar5<!-- ENDIF -->" style="width:{poll_option.POLL_OPTION_PERCENT};">{poll_option.POLL_OPTION_RESULT}</div></dd>
					<dd><!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF --></dd><!-- ENDIF -->
				</dl>
			<!-- END poll_option -->

			<!-- IF S_DISPLAY_RESULTS -->
				<dl>
					<dt>&nbsp;</dt>
					<dd class="resultbar">{L_TOTAL_VOTES} : {TOTAL_VOTES}</dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF S_CAN_VOTE -->
				<dl style="border-top: none;">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF not S_DISPLAY_RESULTS -->
				<dl style="border-top: none;">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></dd>
				</dl>
			<!-- ENDIF -->
			</fieldset>
		</div>

		<span class="corners-bottom"><span></span></span></div>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</div>


	</form>
	<hr />
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->